<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
    <% let error_msg = []; %>
    <% if(errors != null){ %>
            <% error_msg.push(errors) %>
    <% } %>
<div class="main">
    <div class="all-inputs">
      <div class="illustration">

        <div class="man-illustraion">
          <div class="love-illustration">
            <svg xmlns="http://www.w3.org/2000/svg" width="61" height="63" viewBox="0 0 61 63" fill="none">
              <path d="M59.85 27.8C59.85 42.3301 46.7664 54.195 30.515 54.195C14.2637 54.195 1.18002 42.3301 1.18002 27.8C1.18002 13.27 14.2637 1.40503 30.515 1.40503C46.7664 1.40503 59.85 13.27 59.85 27.8Z" fill="#E6F7FF" stroke="black"/>
              <path d="M12.155 58.715C12.155 60.65 10.415 62.225 8.25501 62.225C6.09501 62.225 4.35501 60.65 4.35501 58.715C4.35501 56.78 6.09501 55.205 8.25501 55.205C10.415 55.205 12.155 56.765 12.155 58.715Z" fill="#E6F7FF"/>
              <path d="M44.015 23.345C43.385 19.85 40.97 17 37.31 16.745C32.705 16.415 30.905 20.57 30.575 20.945C30.365 20.69 29.405 18.23 26.825 17.09C22.58 15.215 17.45 18.125 16.865 24.305C16.565 27.515 17.51 29.945 19.325 32.495C21.935 36.155 26.495 40.115 30.125 42.8C30.26 42.905 30.35 42.905 30.485 42.8C32.435 41.33 39.035 36.785 42.425 31.49C44.015 28.985 44.54 26.27 44.015 23.345Z" fill="#FF7096"/>
            </svg>
          </div>
          
          <svg xmlns="http://www.w3.org/2000/svg" width="254" height="213" viewBox="0 0 254 213" fill="none">
            <path d="M201.86 94.905L203.885 118.95L182.675 117.93L185.12 96.645L201.86 94.905Z" fill="#FFC0BB"/>
            <path d="M183.965 106.77L185.135 96.645L201.875 94.905L202.58 103.23C199.235 106.545 193.25 109.98 183.965 106.77Z" fill="#F99893"/>
            <path d="M170.945 78.705C172.22 81.345 171.545 84.315 169.43 85.335C167.315 86.355 164.57 85.05 163.295 82.41C162.02 79.77 162.695 76.8 164.81 75.78C166.925 74.76 169.67 76.065 170.945 78.705Z" fill="#FFC6C2"/>
            <path d="M170.795 90.9C169.28 87.495 168.395 83.835 167.87 80.64C167.765 79.95 167.615 79.275 167.45 78.6C166.79 75.87 166.61 72.93 167.075 69.87C168.545 60.03 176.465 52.185 186.32 50.835C199.595 49.005 211.28 58.83 212.105 71.85C213.47 70.98 215.045 70.695 216.485 71.235C219.245 72.27 220.445 75.9 219.155 79.35C217.865 82.8 214.595 84.765 211.835 83.73C211.445 83.58 211.1 83.385 210.785 83.16C210.365 94.305 201.83 103.425 190.925 103.935C185.6 104.19 180.635 102.33 176.795 99.075C174.32 97.245 171.995 93.72 170.795 90.9Z" fill="#FFC6C2"/>
            <path d="M184.4 73.365C184.355 74.67 184.34 75.93 184.28 77.175C184.205 78.33 184.07 79.98 183.365 80.85C183.26 81 182.69 81.6 182.69 82.53C182.66 83.385 183.11 84.165 183.68 84.63C184.835 85.605 186.335 85.695 187.58 85.395C186.305 85.17 185.105 84.735 184.385 83.91C184.055 83.505 183.845 83.04 183.92 82.605C183.98 82.11 184.25 81.855 184.355 81.705C184.7 81.24 185.135 80.76 185.315 79.17C185.375 78.495 185.375 77.82 185.3 77.175C185.165 75.855 184.88 74.58 184.4 73.365Z" fill="#F99893"/>
            <path d="M191.915 75.09C191.96 76.185 192.89 77.025 193.985 76.98C195.08 76.935 195.92 76.005 195.875 74.91C195.83 73.815 194.9 72.975 193.805 73.02C192.71 73.065 191.87 73.995 191.915 75.09Z" fill="#333333"/>
            <path d="M174.995 76.995C175.04 78.09 175.97 78.93 177.065 78.885C178.16 78.84 179 77.91 178.955 76.815C178.91 75.72 177.98 74.88 176.885 74.925C175.79 74.985 174.95 75.9 174.995 76.995Z" fill="#333333"/>
            <path d="M195.23 88.485C193.22 90.24 190.595 91.605 188 91.92C185.18 92.28 182.705 91.41 180.305 89.94C182.54 91.815 185.12 92.76 188.06 92.43C190.925 92.07 193.61 90.42 195.23 88.485Z" fill="#F99893"/>
            <path d="M189.425 70.62C192.215 69.765 193.79 69.705 195.065 69.87C197.84 70.245 199.415 71.475 200.375 71.895C199.205 69.735 197.405 68.595 195.23 68.325C192.89 68.04 190.595 69.105 189.425 70.62Z" fill="#07085B"/>
            <path d="M180.71 71.595C179.285 70.335 176.825 69.735 174.56 70.47C172.49 71.16 170.945 72.63 170.21 74.97C171.08 74.355 172.37 72.855 175.025 71.955C176.255 71.55 177.815 71.295 180.71 71.595Z" fill="#07085B"/>
            <path d="M207.294 107.992C207.328 107.968 207.359 107.948 207.386 107.929C207.41 107.929 207.436 107.929 207.465 107.929C207.618 107.93 207.845 107.933 208.138 107.94C208.726 107.956 209.58 107.991 210.642 108.072C212.768 108.235 215.725 108.579 219.044 109.306C225.695 110.763 233.742 113.744 239.507 119.819C242.358 122.823 245.183 128.633 247.491 135.99C249.792 143.327 251.559 152.134 252.328 161.072C253.098 170.011 252.869 179.059 251.194 186.883C249.517 194.715 246.405 201.261 241.46 205.277L241.46 205.277C231.497 213.375 218.538 213.171 207.973 210.886C202.702 209.745 198.056 208.092 194.728 206.723C193.064 206.039 191.731 205.427 190.815 204.986C190.358 204.766 190.004 204.588 189.766 204.467C189.647 204.406 189.556 204.359 189.496 204.327L189.429 204.291L189.412 204.282L189.408 204.28L189.407 204.28C189.407 204.28 189.407 204.28 189.361 204.366L189.407 204.28L189.298 204.221L189.174 204.22L146.307 203.907L126.372 180.551L126.534 180.152C126.714 179.708 126.978 179.057 127.317 178.226C127.994 176.563 128.966 174.184 130.15 171.317C132.516 165.581 135.724 157.891 139.091 150.072C142.457 142.253 145.98 134.309 148.976 128.066C150.475 124.943 151.839 122.252 152.984 120.217C153.556 119.199 154.07 118.351 154.516 117.698C154.97 117.033 155.328 116.607 155.586 116.398C156.774 115.431 158.892 114.522 161.471 113.706C164.033 112.896 166.985 112.196 169.789 111.623C172.591 111.05 175.237 110.606 177.183 110.305C178.155 110.154 178.953 110.039 179.506 109.962C179.74 109.93 179.93 109.904 180.072 109.885C182.125 112.697 184.86 114.002 187.792 114.362C190.791 114.73 193.989 114.11 196.895 113.145C199.806 112.178 202.46 110.852 204.382 109.771C205.344 109.23 206.126 108.749 206.667 108.402C206.938 108.229 207.15 108.089 207.294 107.992Z" fill="#4780BA" stroke="black"/>
            <path d="M218.96 139.455C218.24 142.755 217.805 146.1 217.505 149.46C217.34 151.14 217.265 152.82 217.16 154.515C217.115 156.21 217.07 157.89 217.1 159.585C217.16 162.96 217.355 166.35 217.925 169.695C218.495 173.025 219.32 176.37 220.865 179.385C219.83 176.175 219.305 172.875 218.93 169.56C218.555 166.245 218.435 162.9 218.39 159.57C218.315 156.225 218.405 152.88 218.51 149.535C218.63 146.175 218.78 142.83 218.96 139.455Z" fill="white"/>
            <path d="M159.23 137.235C158.315 142.14 157.355 147.03 156.365 151.92C155.36 156.795 154.325 161.67 153.14 166.5C151.97 171.33 150.68 176.13 149.105 180.84C148.325 183.195 147.44 185.52 146.405 187.77C145.385 190.035 144.185 192.21 142.58 194.13C144.41 192.42 145.76 190.245 146.975 188.055C148.16 185.835 149.18 183.54 150.05 181.185C150.95 178.845 151.715 176.46 152.45 174.06C153.155 171.66 153.8 169.245 154.4 166.815C154.97 164.385 155.525 161.94 156.02 159.495C156.5 157.035 156.965 154.59 157.355 152.115C158.18 147.18 158.825 142.215 159.23 137.235Z" fill="white"/>
            <path d="M149.195 190.725C149.315 189.72 156.935 188.595 159.74 188.46C161.855 188.355 175.925 187.875 180.71 187.665L180.365 188.895L180.44 194.325L181.22 197.925C177.02 198.195 166.775 198.585 164.63 199.02C161.78 199.59 156.83 201.735 156.83 201.735C156.83 201.735 154.775 201.27 157.385 200.145C159.485 199.245 160.955 197.835 161.585 197.145C161.945 196.74 161.555 196.035 161.3 196.095C154.175 197.955 153.44 198.27 153.44 198.27C153.44 198.27 145.07 198.225 153.395 196.335C158.39 195.21 160.175 194.55 160.61 193.995C160.805 193.755 160.46 192.945 160.16 192.93C155.84 192.66 148.085 194.19 150.2 193.185C151.925 192.36 157.385 191.475 159.515 191.13C159.65 191.115 159.86 190.32 159.275 190.275C155.15 189.915 149.09 191.655 149.195 190.725Z" fill="#FFC6C2"/>
            <path d="M218.6 179.835C216.86 180.255 215.075 180.555 213.32 180.93C209.78 181.575 206.24 182.13 202.685 182.64C199.13 183.105 195.56 183.54 191.99 183.885C188.435 184.245 184.805 184.545 181.295 184.74L180.815 184.77L180.71 185.175C180.41 186.375 180.215 187.53 180.065 188.73C179.915 189.915 179.855 191.115 179.855 192.315C179.87 193.515 179.975 194.715 180.17 195.915C180.395 197.1 180.74 198.27 181.22 199.38L181.265 199.47L181.34 199.515L185.255 202.14C186.56 203.01 187.865 203.88 189.185 204.735C187.955 203.745 186.725 202.785 185.48 201.825L181.835 199.02C181.46 197.97 181.19 196.875 181.04 195.765C180.905 194.625 180.845 193.47 180.875 192.315C180.92 191.16 181.025 190.005 181.19 188.865C181.34 187.875 181.535 186.87 181.775 185.91C183.47 185.85 185.09 185.745 186.74 185.625C188.54 185.49 190.34 185.355 192.14 185.16C195.725 184.785 199.31 184.335 202.88 183.765C206.45 183.195 209.99 182.49 213.5 181.665C215.255 181.215 216.995 180.78 218.72 180.24C220.46 179.745 222.155 179.145 223.85 178.545C222.08 178.98 220.355 179.475 218.6 179.835Z" fill="white"/>
            <path d="M158.647 204.52L158.774 204.83H159.11H196.655C197.429 204.83 198.06 205.461 198.06 206.235C198.06 207.009 197.429 207.64 196.655 207.64H88.25C86.4495 207.64 84.8008 206.584 84.0722 204.938L84.0712 204.935L62.2162 156.2L62.2156 156.199C61.0907 153.711 62.9171 150.89 65.645 150.89H133.565C135.447 150.89 137.14 152.027 137.858 153.761L158.647 204.52Z" fill="#07085B" stroke="black"/>
            <path d="M104.767 185.133C107.085 184.644 108.423 181.679 107.754 178.509C107.086 175.34 104.665 173.166 102.347 173.655C100.028 174.144 98.6906 177.11 99.3589 180.279C100.027 183.449 102.448 185.622 104.767 185.133Z" fill="white"/>
            <path d="M164.165 51.825C164.165 51.825 157.505 52.035 164.495 46.41C171.485 40.785 190.235 34.185 202.25 40.53C202.25 40.53 204.65 35.415 208.13 36.645C211.61 37.86 205.865 41.385 205.865 41.385C205.865 41.385 210.305 41.235 211.655 43.425C212.66 45.03 209.945 45.105 208.46 45.03C210.98 45.465 220.67 51.57 215.81 71.1C214.085 70.725 204.245 56.445 204.245 56.445C204.245 56.445 181.73 68.955 183.965 59.01C183.965 59.01 160.64 73.56 163.955 61.545C163.94 61.515 154.925 62.19 164.165 51.825Z" fill="#07085B"/>
            <path d="M215.825 71.205C215.825 71.205 213.965 70.545 211.955 72.135C209.945 73.725 210.17 79.32 210.17 79.32C210.17 79.32 200.6 85.485 201.605 59.385C202.685 31.605 209.585 61.62 209.585 61.62L215.825 71.205Z" fill="#07085B"/>
            <path d="M164.6 64.98L166.82 78.885L171.5 60.345C171.5 60.345 164.93 57.165 164.645 58.32C164.36 59.475 164.6 64.98 164.6 64.98Z" fill="#07085B"/>
            <path d="M80.825 7.45505L82.28 18.4051L74.51 12.72L50.705 0.555054L69.11 2.25005C69.11 2.25005 78.485 4.53005 78.995 4.99505C79.505 5.46005 80.825 7.45505 80.825 7.45505Z" fill="#C12F56"/>
            <path d="M88.97 0.855072L50.69 0.570068L80.825 7.45507L88.97 0.855072Z" fill="#FF5B7E"/>
            <path d="M68.51 18.4801L78.545 10.4251L50.69 0.570068L68.51 18.4801Z" fill="#FF5B7E"/>
            <path d="M128.165 66.63L127.655 65.88C128.435 65.355 129.14 64.71 129.755 63.975L130.445 64.56C129.77 65.37 129.005 66.06 128.165 66.63Z" fill="black"/>
            <path d="M133.22 59.28L132.365 59.01C132.89 57.345 133.235 55.455 133.385 53.4L134.285 53.475C134.12 55.605 133.775 57.555 133.22 59.28ZM134.255 47.58L133.355 47.67C133.325 47.43 133.295 47.175 133.265 46.935C133.16 46.095 132.995 45.255 132.785 44.415C132.59 43.65 132.365 42.87 132.095 42.12L132.95 41.82C133.235 42.6 133.475 43.41 133.67 44.205C133.88 45.075 134.045 45.945 134.165 46.815C134.195 47.055 134.24 47.325 134.255 47.58ZM129.635 36.96C128.675 35.385 127.52 33.84 126.215 32.355L126.89 31.755C128.225 33.27 129.41 34.86 130.4 36.48L129.635 36.96ZM101.48 34.83C100.865 34.98 99.305 35.01 98.3 34.41C97.55 33.96 96.92 33.255 96.5 32.385L97.31 31.995C97.67 32.73 98.165 33.285 98.765 33.645C99.485 34.08 100.775 34.08 101.27 33.96C101.33 33.945 101.36 33.93 101.36 33.93C101.405 33.9 101.45 33.87 101.495 33.84L101.99 34.59C101.945 34.62 101.885 34.665 101.84 34.695C101.735 34.755 101.615 34.8 101.48 34.83ZM122.105 28.335C120.665 27.12 119.12 25.95 117.485 24.885L117.98 24.135C119.645 25.215 121.22 26.4 122.69 27.645L122.105 28.335ZM105.23 29.535L104.345 29.355C104.465 28.8 104.525 28.23 104.525 27.675C104.525 26.88 104.42 26.07 104.225 25.245C104.12 24.795 103.97 24.345 103.805 23.895L104.645 23.58C104.825 24.06 104.975 24.555 105.095 25.035C105.32 25.92 105.425 26.82 105.425 27.675C105.425 28.29 105.35 28.92 105.23 29.535ZM97.295 26.76L96.485 26.37C97.295 24.66 98.84 23.16 100.7 22.26L100.82 22.2L101.21 23.01L101.09 23.07C99.41 23.88 98.03 25.23 97.295 26.76ZM112.25 22.71C110.615 22.215 109.325 21.9 108.695 21.885C107.975 21.855 107.315 21.84 106.685 21.87L106.655 20.97C107.315 20.955 107.99 20.955 108.74 21C109.7 21.045 111.515 21.57 112.52 21.87L112.25 22.71ZM100.88 19.065C99.65 17.625 98.21 16.38 96.605 15.345L97.085 14.58C98.765 15.66 100.265 16.965 101.555 18.48L100.88 19.065Z" fill="black"/>
            <path d="M91.43 13.035C90.485 12.78 89.525 12.6 88.58 12.495L88.67 11.595C89.66 11.7 90.665 11.88 91.67 12.165L91.43 13.035Z" fill="black"/>
            <path d="M49.91 140C49.91 140 49.58 143.27 47 143.495C49.58 143.72 49.91 146.99 49.91 146.99C49.91 146.99 50.24 143.72 52.82 143.495C50.24 143.27 49.91 140 49.91 140Z" fill="#07085B"/>
            <path d="M147.245 93.87C147.245 93.87 146.72 99.075 142.61 99.435C146.72 99.795 147.245 105 147.245 105C147.245 105 147.77 99.795 151.88 99.435C147.77 99.075 147.245 93.87 147.245 93.87Z" fill="#FF0A54"/>
            <path d="M5.15001 30.96C5.15001 30.96 4.62501 36.165 0.515015 36.525C4.62501 36.885 5.15001 42.09 5.15001 42.09C5.15001 42.09 5.67501 36.885 9.78501 36.525C5.69001 36.165 5.15001 30.96 5.15001 30.96Z" fill="#4F5F8D"/>
            <path d="M104.525 74.52C104.525 74.52 104.12 79.14 100.985 79.455C104.12 79.77 104.525 84.39 104.525 84.39C104.525 84.39 104.93 79.77 108.065 79.455C104.93 79.14 104.525 74.52 104.525 74.52Z" fill="white"/>
            <path d="M23.21 7.065C23.21 7.065 22.805 11.685 19.67 12C22.805 12.315 23.21 16.935 23.21 16.935C23.21 16.935 23.615 12.315 26.75 12C23.615 11.67 23.21 7.065 23.21 7.065Z" fill="#E6F7FF"/>
            <path opacity="0.3" d="M132.035 103.815H71.18C69.2 103.815 67.61 105.42 67.61 107.385V132.735C67.61 134.715 69.215 136.305 71.18 136.305H77.495C77.135 139.095 76.655 143.1 76.91 143.1C77.195 143.1 80.255 138.885 82.115 136.305H132.035C134.015 136.305 135.605 134.7 135.605 132.735V107.385C135.605 105.42 134.015 103.815 132.035 103.815Z" fill="#48CAE4"/>
            <path d="M80.9009 129.634L80.9737 129.07H80.405H74.09C72.3998 129.07 71.02 127.703 71.02 126V100.65C71.02 98.9598 72.3875 97.58 74.09 97.58H134.945C136.647 97.58 138.015 98.9598 138.015 100.65V126C138.015 127.69 136.647 129.07 134.945 129.07H85.025H84.7691L84.6194 129.278C83.6894 130.568 82.4619 132.263 81.432 133.635C81.0014 134.208 80.6079 134.722 80.2864 135.125C80.309 134.814 80.3408 134.455 80.3795 134.063C80.5118 132.721 80.721 131.028 80.9009 129.634Z" fill="#02CCC0" stroke="black"/>
            <path d="M88.6306 119.764C92.1278 116.266 92.1277 110.596 88.6306 107.099C85.1335 103.602 79.4636 103.602 75.9665 107.099C72.4694 110.596 72.4694 116.266 75.9665 119.764C79.4636 123.261 85.1335 123.261 88.6306 119.764Z" fill="white"/>
            <path d="M83.705 117.945H81.08V120.57H83.705V117.945Z" fill="#FFC0BB"/>
            <path d="M83.72 119.52V117.945H81.095V119.28C81.65 119.58 82.49 119.76 83.72 119.52Z" fill="#F99893"/>
            <path d="M87.86 113.235C87.59 113.1 87.26 113.13 86.975 113.265C87.08 110.67 84.95 108.495 82.295 108.585C79.625 108.495 77.51 110.67 77.615 113.265C77.33 113.115 77.015 113.1 76.73 113.235C76.205 113.49 76.04 114.24 76.37 114.9C76.7 115.56 77.39 115.875 77.915 115.62C77.99 115.59 78.05 115.545 78.11 115.485C78.41 117.63 80.21 119.235 82.31 119.205C84.41 119.235 86.195 117.63 86.51 115.485C86.57 115.545 86.63 115.59 86.705 115.62C87.23 115.875 87.92 115.56 88.25 114.9C88.565 114.24 88.4 113.49 87.86 113.235Z" fill="#FFC0BB"/>
            <path d="M79.1 107.565C79.1 107.565 80.42 106.44 83.42 106.635C86.42 106.815 86.99 108.375 87.17 110.625L86.99 113.28C86.99 113.28 86.21 112.485 85.19 110.25C85.19 110.25 83.51 112.14 82.775 111.915C82.04 111.69 83.045 110.34 83.045 110.34C83.045 110.34 79.625 113.28 77.6 113.28C77.6 113.28 76.535 109.83 78.035 108.57C78.035 108.57 76.91 108.63 76.85 108.405C76.79 108.18 77.39 107.85 78.47 107.97C78.47 107.97 77.69 106.455 78.125 106.305C78.575 106.14 79.1 107.565 79.1 107.565Z" fill="#07085B"/>
            <path d="M84.02 116.295C83.9 116.82 83.315 117.225 82.58 117.24C81.845 117.255 81.23 116.895 81.08 116.385L84.02 116.295Z" fill="white"/>
            <path d="M129.665 105.945H94.7C94.505 105.945 94.34 105.78 94.34 105.585V104.73C94.34 104.535 94.505 104.37 94.7 104.37H129.665C129.86 104.37 130.025 104.535 130.025 104.73V105.585C130.01 105.795 129.86 105.945 129.665 105.945Z" fill="white"/>
            <path d="M102.425 110.055H94.7C94.505 110.055 94.34 109.89 94.34 109.695V108.84C94.34 108.645 94.505 108.48 94.7 108.48H102.425C102.62 108.48 102.785 108.645 102.785 108.84V109.695C102.77 109.905 102.62 110.055 102.425 110.055Z" fill="white"/>
            <path d="M129.665 110.055H106.31C106.115 110.055 105.95 109.89 105.95 109.695V108.84C105.95 108.645 106.115 108.48 106.31 108.48H129.665C129.86 108.48 130.025 108.645 130.025 108.84V109.695C130.01 109.905 129.86 110.055 129.665 110.055Z" fill="white"/>
            <path d="M112.415 114.165H94.7C94.505 114.165 94.34 114 94.34 113.805V112.95C94.34 112.755 94.505 112.59 94.7 112.59H112.415C112.61 112.59 112.775 112.755 112.775 112.95V113.805C112.775 114.015 112.61 114.165 112.415 114.165Z" fill="white"/>
            <path d="M129.665 114.165H115.82C115.625 114.165 115.46 114 115.46 113.805V112.95C115.46 112.755 115.625 112.59 115.82 112.59H129.665C129.86 112.59 130.025 112.755 130.025 112.95V113.805C130.01 114.015 129.86 114.165 129.665 114.165Z" fill="white"/>
            <path d="M129.665 118.275H94.7C94.505 118.275 94.34 118.11 94.34 117.915V117.06C94.34 116.865 94.505 116.7 94.7 116.7H129.665C129.86 116.7 130.025 116.865 130.025 117.06V117.915C130.01 118.11 129.86 118.275 129.665 118.275Z" fill="white"/>
            <path opacity="0.3" d="M88.13 46.275H18.44C16.04 46.275 14.075 48.225 14.075 50.64V79.395C14.075 81.795 16.025 83.76 18.44 83.76H73.31C75.53 86.865 79.55 92.415 79.91 92.415C80.24 92.415 79.595 87.18 79.145 83.76H88.13C90.53 83.76 92.495 81.81 92.495 79.395V50.625C92.495 48.225 90.545 46.275 88.13 46.275Z" fill="#FF7096"/>
            <path d="M70.8367 75.9992L70.6872 75.7901H70.43H15.56C13.4223 75.7901 11.695 74.05 11.695 71.9251V43.1701C11.695 41.0323 13.435 39.3051 15.56 39.3051H85.25C87.3889 39.3051 89.115 41.0312 89.115 43.1701V71.9251C89.115 74.0628 87.375 75.7901 85.25 75.7901H76.265H75.6949L75.7693 76.3553C75.9942 78.0646 76.2671 80.2222 76.4426 81.9506C76.5141 82.6554 76.5688 83.2824 76.5977 83.7761C76.5811 83.7558 76.5642 83.7351 76.5471 83.714C76.0915 83.1532 75.4907 82.3689 74.828 81.4825C73.5037 79.7113 71.9462 77.551 70.8367 75.9992Z" fill="#F26E56" stroke="black"/>
            <path d="M30.3846 67.6318C35.9558 65.3 38.5845 58.8996 36.256 53.3361C33.9274 47.7725 27.5234 45.1526 21.9522 47.4844C16.381 49.8161 13.7523 56.2165 16.0809 61.7801C18.4094 67.3436 24.8135 69.9635 30.3846 67.6318Z" fill="white"/>
            <path d="M20.48 57.8401C20.48 57.8401 19.4 53.4001 21.98 51.7351C24.56 50.0701 27.32 49.6951 29.195 50.6551C31.805 51.9901 32.885 55.5751 32.045 57.5701L25.115 55.8301L20.48 57.8401Z" fill="#040744"/>
            <path d="M27.89 63.0601H24.68V66.2701H27.89V63.0601Z" fill="#FFC0BB"/>
            <path d="M27.89 64.9801V63.0601H24.68V64.6951C25.37 65.0551 26.39 65.2651 27.89 64.9801Z" fill="#F99893"/>
            <path d="M32.945 57.315C32.615 57.15 32.225 57.18 31.865 57.36C31.985 54.195 29.405 51.54 26.15 51.66C22.895 51.555 20.315 54.21 20.435 57.36C20.09 57.18 19.7 57.15 19.355 57.315C18.71 57.63 18.515 58.545 18.905 59.34C19.295 60.135 20.15 60.54 20.78 60.225C20.87 60.18 20.945 60.12 21.02 60.06C21.395 62.67 23.57 64.635 26.135 64.59C28.7 64.62 30.875 62.67 31.25 60.06C31.325 60.12 31.4 60.18 31.49 60.225C32.135 60.54 32.975 60.15 33.365 59.34C33.785 58.545 33.59 57.63 32.945 57.315Z" fill="#FFC0BB"/>
            <path d="M28.265 61.05C28.13 61.68 27.395 62.1751 26.51 62.2051C25.625 62.2351 24.86 61.7851 24.68 61.1551L28.265 61.05Z" fill="white"/>
            <path d="M20.45 57.36C20.45 57.36 24.65 56.085 26.48 53.97C26.48 53.97 25.955 56.535 25.565 56.94C25.685 57.015 29.765 55.035 30.305 53.22C30.86 51.39 26.135 50.73 26.135 50.73C26.135 50.73 24.515 51.42 24.44 51.465C24.365 51.51 22.85 51.69 22.67 52.065C22.445 52.575 21.38 52.62 21.38 52.62L20.705 54.03L20.225 55.515L20.45 57.36Z" fill="#040744"/>
            <path d="M17.015 51.585C17.945 51.96 19.01 52.125 20.12 51.795C22.565 51.045 23.54 51.33 23.87 51.525C24.065 51.63 24.305 51.675 24.515 51.615C24.755 51.54 24.98 51.315 24.905 50.76C24.905 50.76 24.995 48.435 23 47.1C20.51 47.835 18.395 49.455 17.015 51.585Z" fill="#040744"/>
            <path d="M22.28 51.42C22.205 51.33 22.235 51.18 22.325 51.12C22.73 50.85 23.78 50.25 25.055 50.175C25.175 50.175 25.28 50.2651 25.28 50.3851C25.28 50.4901 25.19 50.58 25.085 50.595C23.93 50.655 22.94 51.225 22.565 51.465C22.475 51.54 22.34 51.51 22.28 51.42Z" fill="#FEB546"/>
            <path d="M53.435 50.0401H39.65C39.41 50.0401 39.215 49.8451 39.215 49.6051V48.5701C39.215 48.3301 39.41 48.1351 39.65 48.1351H53.435C53.675 48.1351 53.87 48.3301 53.87 48.5701V49.6051C53.855 49.8451 53.66 50.0401 53.435 50.0401Z" fill="white"/>
            <path d="M48.68 55.05H39.65C39.41 55.05 39.215 54.855 39.215 54.615V53.58C39.215 53.34 39.41 53.145 39.65 53.145H48.68C48.92 53.145 49.115 53.34 49.115 53.58V54.615C49.115 54.855 48.92 55.05 48.68 55.05Z" fill="white"/>
            <path d="M62.555 55.05H51.245C51.005 55.05 50.81 54.855 50.81 54.615V53.58C50.81 53.34 51.005 53.145 51.245 53.145H62.555C62.795 53.145 62.99 53.34 62.99 53.58V54.615C62.975 54.855 62.795 55.05 62.555 55.05Z" fill="white"/>
            <path d="M80.66 50.0401H56.72C56.48 50.0401 56.285 49.8451 56.285 49.6051V48.5701C56.285 48.3301 56.48 48.1351 56.72 48.1351H80.66C80.9 48.1351 81.095 48.3301 81.095 48.5701V49.6051C81.095 49.8451 80.9 50.0401 80.66 50.0401Z" fill="white"/>
            <path d="M80.66 64.8601H39.65C39.41 64.8601 39.215 64.6651 39.215 64.4251V63.3901C39.215 63.1501 39.41 62.9551 39.65 62.9551H80.66C80.9 62.9551 81.095 63.1501 81.095 63.3901V64.4251C81.095 64.6651 80.9 64.8601 80.66 64.8601Z" fill="white"/>
            <path d="M60.425 60.06H39.65C39.41 60.06 39.215 59.865 39.215 59.625V58.59C39.215 58.35 39.41 58.155 39.65 58.155H60.425C60.665 58.155 60.86 58.35 60.86 58.59V59.625C60.845 59.865 60.665 60.06 60.425 60.06Z" fill="white"/>
            <path d="M80.66 60.06H64.445C64.205 60.06 64.01 59.865 64.01 59.625V58.59C64.01 58.35 64.205 58.155 64.445 58.155H80.66C80.9 58.155 81.095 58.35 81.095 58.59V59.625C81.095 59.865 80.9 60.06 80.66 60.06Z" fill="white"/>
          </svg>
        </div>
        <div class="layout1">
             <!-- mail icons -->
             <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16" fill="none">
              <path opacity="0.2" d="M18.3593 1.76465H4.24237C3.2678 1.76465 2.47775 2.55469 2.47775 3.52926V14.117C2.47775 15.0915 3.2678 15.8816 4.24237 15.8816H18.3593C19.3339 15.8816 20.1239 15.0915 20.1239 14.117V3.52926C20.1239 2.55469 19.3339 1.76465 18.3593 1.76465Z" fill="#F26E56"/>
              <path d="M17.1827 0H0.712991C0.55699 0 0.407378 0.0619715 0.297068 0.172281C0.186758 0.282591 0.124786 0.432203 0.124786 0.588205V13.5287C0.124786 13.6847 0.186758 13.8343 0.297068 13.9446C0.407378 14.055 0.55699 14.1169 0.712991 14.1169H17.1827C17.3387 14.1169 17.4883 14.055 17.5987 13.9446C17.709 13.8343 17.7709 13.6847 17.7709 13.5287V0.588205C17.7709 0.432203 17.709 0.282591 17.5987 0.172281C17.4883 0.0619715 17.3387 0 17.1827 0ZM1.3012 12.9405V1.17641H16.5945V12.9405H1.3012Z" fill="#F26E56"/>
              <path d="M17.1827 0H0.712991C0.55699 0 0.407378 0.0619715 0.297068 0.172281C0.186758 0.282591 0.124786 0.432203 0.124786 0.588205V13.5287C0.124786 13.6847 0.186758 13.8343 0.297068 13.9446C0.407378 14.055 0.55699 14.1169 0.712991 14.1169H17.1827C17.3387 14.1169 17.4883 14.055 17.5987 13.9446C17.709 13.8343 17.7709 13.6847 17.7709 13.5287V0.588205C17.7709 0.432203 17.709 0.282591 17.5987 0.172281C17.4883 0.0619715 17.3387 0 17.1827 0ZM1.3012 12.9405V1.17641H16.5945V12.9405H1.3012Z" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.564 1.03524L9.27622 8.0937C9.16954 8.18467 9.03387 8.23454 8.89367 8.23432C8.75347 8.23411 8.61796 8.18382 8.51156 8.09253L0.328448 1.03407C0.237355 0.955681 0.172457 0.851274 0.142486 0.734895C0.112516 0.618517 0.118912 0.495751 0.160814 0.383116C0.202715 0.270482 0.278111 0.173385 0.376857 0.104891C0.475602 0.0363961 0.592959 -0.000209075 0.713134 8.98296e-07H17.1829C17.303 0.000231688 17.4202 0.0372487 17.5187 0.106073C17.6172 0.174898 17.6922 0.272229 17.7337 0.384975C17.7752 0.497722 17.7812 0.620477 17.7509 0.73673C17.7206 0.852982 17.6553 0.957157 17.564 1.03524ZM15.5853 1.17641H2.29541L8.89742 6.87141L15.5853 1.17641Z" fill="#F26E56"/>
            </svg>

            <!-- like icons -->
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
            <path d="M8.16083 18.1357L11.0047 20.336C11.3699 20.7012 12.1961 20.8882 12.7483 20.8882H16.2314C17.3315 20.8882 18.523 20.062 18.7969 18.9619L20.9972 12.2698C21.4537 10.987 20.6319 9.88686 19.2535 9.88686H15.5878C15.0356 9.88686 14.579 9.43028 14.6703 8.78672L15.1269 5.85158C15.3095 5.0254 14.7616 4.10789 13.9354 3.83395C13.2006 3.56 12.2831 3.92526 11.9178 4.4775L8.16083 10.0695" fill="#BFDEF4"/>
            <path d="M3.48633 18.1356V9.15189C3.48633 7.86913 4.03857 7.4082 5.32133 7.4082H6.23884C7.5216 7.4082 8.07384 7.86478 8.07384 9.15189V18.1356C8.07384 19.4184 7.5216 19.8793 6.23884 19.8793H5.32133C4.03422 19.8793 3.48633 19.4184 3.48633 18.1356Z" fill="#BFDEF4"/>
            <path d="M5.7984 15.3948L8.64222 17.5951C9.00749 17.9604 9.83367 18.1473 10.3859 18.1473H13.8689C14.9691 18.1473 16.1605 17.3212 16.4345 16.221L18.6347 9.52891C19.0913 8.24615 18.2695 7.14601 16.8911 7.14601H13.2254C12.6731 7.14601 12.2166 6.68943 12.3079 6.04588L12.7645 3.11074C12.9471 2.28455 12.3992 1.36705 11.573 1.0931C10.8381 0.819157 9.92064 1.18442 9.55538 1.73666L5.7984 7.32864" stroke="#48CAE4" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M1.1239 15.3947V6.41105C1.1239 5.12828 1.67614 4.66736 2.95891 4.66736H3.87641C5.15917 4.66736 5.71142 5.12393 5.71142 6.41105V15.3947C5.71142 16.6775 5.15917 17.1384 3.87641 17.1384H2.95891C1.67179 17.1384 1.1239 16.6775 1.1239 15.3947Z" stroke="#48CAE4" stroke-width="2" stroke-miterlimit="10"/>
          </svg>

           <!-- love icons -->
           <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
            <path d="M13.0756 18.7985C12.9711 18.7985 12.8667 18.7753 12.7739 18.7288C3.67603 13.9014 4.117 7.93677 4.19823 7.26372C4.22144 4.62952 6.37985 2.51752 9.00244 2.54073C10.6851 2.55234 12.2401 3.45748 13.0756 4.90802C14.3985 2.63357 17.3112 1.85607 19.5972 3.17897C21.0594 4.02609 21.9645 5.59268 21.9761 7.29853C22.069 8.18046 22.3127 13.9943 13.3889 18.7288C13.2961 18.7753 13.1916 18.7985 13.0756 18.7985Z" fill="#FF7096"/>
            <path d="M9.90557 17.2647C9.80113 17.2647 9.69669 17.2414 9.60385 17.195C0.506018 12.3676 0.946985 6.40296 1.02822 5.7299C1.05142 3.09571 3.20984 0.983709 5.83243 1.00692C7.51506 1.01852 9.07005 1.92367 9.90557 3.37421C11.2285 1.09976 14.1412 0.32226 16.4272 1.64516C17.8894 2.49228 18.7945 4.05887 18.8061 5.76471C18.899 6.64665 19.1427 12.4604 10.2189 17.195C10.1144 17.2414 10.01 17.2647 9.90557 17.2647Z" stroke="#FF0A54" stroke-width="2" stroke-miterlimit="10"/>
          </svg>

           <!-- setting icons -->
           <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
            <path d="M12.8447 13.8221C14.3771 13.8221 15.6239 12.5754 15.6239 11.0429C15.6239 9.51043 14.3771 8.26367 12.8447 8.26367C11.3122 8.26367 10.0655 9.51043 10.0655 11.0429C10.0655 12.5819 11.3122 13.8221 12.8447 13.8221Z" fill="#DEE2E6"/>
            <path d="M3.58493 11.8611V10.2312C3.58493 9.27018 4.37065 8.47148 5.34467 8.47148C7.02 8.47148 7.70831 7.28316 6.86415 5.83511C6.38363 5.00394 6.66935 3.91953 7.5135 3.43901L9.1174 2.52342C9.85117 2.08836 10.7927 2.3481 11.2278 3.08187L11.3317 3.25719C12.1629 4.71173 13.533 4.71173 14.3771 3.25719L14.481 3.08187C14.9161 2.3481 15.8577 2.08836 16.5914 2.52342L18.1953 3.43901C19.0395 3.91953 19.3252 5.00394 18.8447 5.83511C18.0005 7.28966 18.6888 8.47148 20.3642 8.47148C21.3252 8.47148 22.1239 9.25719 22.1239 10.2312V11.8611C22.1239 12.8221 21.3382 13.6208 20.3642 13.6208C18.6888 13.6208 18.0005 14.8091 18.8447 16.2572C19.3252 17.1013 19.0395 18.1728 18.1953 18.6533L16.5849 19.5754C15.8512 20.0104 14.9096 19.7507 14.4745 19.0169L14.3706 18.8416C13.5395 17.3871 12.1693 17.3871 11.3252 18.8416L11.2213 19.0169C10.7862 19.7507 9.84467 20.0104 9.1109 19.5754L7.50701 18.6598C6.66285 18.1793 6.37714 17.0949 6.85766 16.2637C7.70182 14.8091 7.0135 13.6273 5.33818 13.6273C4.37064 13.6208 3.58493 12.8221 3.58493 11.8611Z" fill="#808080" fill-opacity="0.6"/>
            <path d="M10.3837 12.5168C11.9161 12.5168 13.1629 11.2701 13.1629 9.73759C13.1629 8.20513 11.9161 6.95837 10.3837 6.95837C8.85118 6.95837 7.60443 8.20513 7.60443 9.73759C7.61092 11.2701 8.85118 12.5168 10.3837 12.5168Z" stroke="#495057" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M1.1239 10.5493V8.91945C1.1239 7.95841 1.90962 7.15971 2.88364 7.15971C4.55897 7.15971 5.24728 5.9714 4.40312 4.52335C3.9226 3.69218 4.20832 2.60776 5.05247 2.12724L6.65637 1.21166C7.39014 0.776591 8.33169 1.03633 8.76676 1.7701L8.87066 1.94542C9.70182 3.39997 11.072 3.39997 11.9161 1.94542L12.02 1.7701C12.4551 1.03633 13.3966 0.776591 14.1304 1.21166L15.7343 2.12724C16.5784 2.60776 16.8642 3.69218 16.3836 4.52335C15.5395 5.97789 16.2278 7.15971 17.9031 7.15971C18.8642 7.15971 19.6629 7.94542 19.6629 8.91945V10.5493C19.6629 11.5104 18.8771 12.3091 17.9031 12.3091C16.2278 12.3091 15.5395 13.4974 16.3836 14.9454C16.8642 15.7896 16.5784 16.861 15.7343 17.3415L14.1304 18.2571C13.3966 18.6922 12.4551 18.4324 12.02 17.6987L11.9161 17.5233C11.0849 16.0688 9.71481 16.0688 8.87066 17.5233L8.76676 17.6987C8.33169 18.4324 7.39014 18.6922 6.65637 18.2571L5.05247 17.3415C4.20832 16.861 3.9226 15.7766 4.40312 14.9454C5.24728 13.4909 4.55897 12.3091 2.88364 12.3091C1.91611 12.3091 1.1239 11.5169 1.1239 10.5493Z" stroke="#495057" stroke-width="2" stroke-miterlimit="10"/>
          </svg>

          <!-- star -->
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
            <path d="M12.3805 3.19078C12.6312 2.78492 12.7506 2.59392 12.9058 2.5223C13.049 2.46262 13.2042 2.46262 13.3355 2.5223C13.4907 2.59392 13.622 2.78492 13.8607 3.19078L16.0213 6.71219C16.1168 6.86737 16.1646 6.93899 16.2243 6.99868C16.2839 7.04642 16.3436 7.08223 16.4152 7.10611C16.4988 7.12998 16.5824 7.12998 16.7614 7.12998L21.011 7.14192C21.5123 7.14192 21.763 7.14192 21.9063 7.24935C22.0256 7.34485 22.1092 7.48809 22.1211 7.64327C22.1331 7.82233 22.0137 8.0372 21.7511 8.46693L19.6979 11.869C19.6024 12.0361 19.5547 12.1196 19.5308 12.2032C19.5189 12.2748 19.5189 12.3584 19.5308 12.4419C19.5547 12.5255 19.6024 12.6091 19.6979 12.7762L21.7511 16.1782C22.0137 16.608 22.145 16.8228 22.1211 17.0019C22.1092 17.1571 22.0256 17.3003 21.9063 17.3958C21.763 17.5032 21.5123 17.5032 21.011 17.5032L16.7614 17.5152C16.5824 17.5152 16.4988 17.5152 16.4152 17.539C16.3436 17.5629 16.2839 17.5987 16.2243 17.6465C16.1646 17.7062 16.1168 17.7778 16.0213 17.933L13.8607 21.4544C13.61 21.8602 13.4907 22.0512 13.3355 22.1229C13.1923 22.1825 13.0371 22.1825 12.9058 22.1229C12.7506 22.0512 12.6193 21.8602 12.3805 21.4544L10.2199 17.933C10.1244 17.7778 10.0767 17.7062 10.017 17.6465C9.95733 17.5987 9.89764 17.5629 9.82602 17.539C9.74246 17.5152 9.65891 17.5152 9.47985 17.5152L5.23028 17.5032C4.72893 17.5032 4.47825 17.5032 4.335 17.3958C4.21563 17.3003 4.13207 17.1571 4.12014 17.0019C4.1082 16.8228 4.22757 16.608 4.49018 16.1782L6.54335 12.7762C6.63884 12.6091 6.68659 12.5255 6.71047 12.4419C6.7224 12.3703 6.7224 12.2868 6.71047 12.2032C6.68659 12.1196 6.63884 12.0361 6.54335 11.869L4.49018 8.46693C4.22757 8.0372 4.09626 7.82233 4.12014 7.64327C4.13207 7.48809 4.21563 7.34485 4.335 7.24935C4.47825 7.14192 4.72893 7.14192 5.23028 7.14192L9.47985 7.12998C9.65891 7.12998 9.74246 7.12998 9.82602 7.10611C9.89764 7.08223 9.95733 7.04642 10.017 6.99868C10.0767 6.93899 10.1244 6.86737 10.2199 6.71219L12.3805 3.19078Z" fill="#FFD42A" fill-opacity="0.6"/>
            <path d="M9.38707 1.71324C9.63774 1.30738 9.75712 1.11639 9.9123 1.04476C10.0555 0.985079 10.2107 0.985079 10.342 1.04476C10.4972 1.11639 10.6285 1.30738 10.8673 1.71324L13.0278 5.23465C13.1233 5.38983 13.1711 5.46145 13.2308 5.52114C13.2905 5.56889 13.3502 5.6047 13.4218 5.62857C13.5053 5.65244 13.5889 5.65244 13.7679 5.65244L18.0175 5.66438C18.5189 5.66438 18.7695 5.66438 18.9128 5.77181C19.0322 5.86731 19.1157 6.01055 19.1277 6.16573C19.1396 6.34479 19.0202 6.55966 18.7576 6.98939L16.7044 10.3914C16.6089 10.5586 16.5612 10.6421 16.5373 10.7257C16.5254 10.7973 16.5254 10.8808 16.5373 10.9644C16.5612 11.048 16.6089 11.1315 16.7044 11.2986L18.7576 14.7007C19.0202 15.1304 19.1515 15.3453 19.1277 15.5243C19.1157 15.6795 19.0322 15.8228 18.9128 15.9183C18.7695 16.0257 18.5189 16.0257 18.0175 16.0257L13.7679 16.0376C13.5889 16.0376 13.5053 16.0376 13.4218 16.0615C13.3502 16.0854 13.2905 16.1212 13.2308 16.1689C13.1711 16.2286 13.1233 16.3002 13.0278 16.4554L10.8673 19.9768C10.6166 20.3827 10.4972 20.5737 10.342 20.6453C10.1988 20.705 10.0436 20.705 9.9123 20.6453C9.75712 20.5737 9.62581 20.3827 9.38707 19.9768L7.22647 16.4554C7.13098 16.3002 7.08323 16.2286 7.02354 16.1689C6.96386 16.1212 6.90417 16.0854 6.83255 16.0615C6.74899 16.0376 6.66543 16.0376 6.48638 16.0376L2.23681 16.0257C1.73545 16.0257 1.48478 16.0257 1.34153 15.9183C1.22216 15.8228 1.1386 15.6795 1.12667 15.5243C1.11473 15.3453 1.2341 15.1304 1.49671 14.7007L3.54988 11.2986C3.64537 11.1315 3.69312 11.048 3.71699 10.9644C3.72893 10.8928 3.72893 10.8092 3.71699 10.7257C3.69312 10.6421 3.64537 10.5586 3.54988 10.3914L1.49671 6.98939C1.2341 6.55966 1.10279 6.34479 1.12667 6.16573C1.1386 6.01055 1.22216 5.86731 1.34153 5.77181C1.48478 5.66438 1.73545 5.66438 2.23681 5.66438L6.48638 5.65244C6.66543 5.65244 6.74899 5.65244 6.83255 5.62857C6.90417 5.6047 6.96386 5.56889 7.02354 5.52114C7.08323 5.46145 7.13098 5.38983 7.22647 5.23465L9.38707 1.71324Z" stroke="#FF7B00" stroke-width="2" stroke-miterlimit="133.333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="293" height="5" viewBox="0 0 293 3" fill="none">
          <path d="M2 1.5H291" stroke="black" stroke-width="3" stroke-linecap="round"/>
        </svg>
      </div>
        <form id="signin-form" method="post" action="/signin">
            <div class="form-group">
              <input type="email" class="form-control" name="emails" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter a valid Emails"> 
            </div>
            <div class="form-group" style="margin-bottom: 0; line-height: 0;">
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter a valid password">
              <span class="eye-btm-see" id="eye-seen" style="cursor: pointer;"><i class="bi bi-eye-fill" style="font-size: 18px; "></i></span>
            </div>

            <div class="links">
                <a href="#">Forget Passwords?</a>
                <a href="/signup">Create an accounts?</a>
            </div>

            <div class="form-submit">
                <button type="submit" class="signin-btn" id="signin-btn">Sign in</button>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="position: relative; left: -50%; top: -12px; display: none;"></span>
            </div>
           
          </form>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>

    <script>
     $(window).on('load', ()=>{
      let errors = "<%= error_msg %>";
      const notyf = new Notyf({
        position: {
        x: 'center',
        y: 'top',
      },
      dismissible: true,
      types: [
    {
      background: 'linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%)',
      icon: '<i class="bi bi-x-circle-fill"></i>'
    }
  ]
      });
        if (errors) {
          notyf.open({
          message: errors,
          duration: 5000
        })
        }
    });
    </script>
</body>
</html>