<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up </title>
   
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

</head>
<body>
 <% let error_msg = [] %>
 <% let success_msg = [] %>

 <% if (errors != null) { %>
    <% error_msg.push(errors) %>
 <% } %>
    <div class="main">
        <div class="all-inputs">
          <div class="illustration">

            <div class="man-illustraion">
              <svg xmlns="http://www.w3.org/2000/svg" width="251" height="254" viewBox="0 0 251 254" fill="none">
                <path d="M219.685 115.884C219.685 115.884 219.309 120.225 216.395 120.526C219.309 120.826 219.685 125.168 219.685 125.168C219.685 125.168 220.061 120.826 222.975 120.526C220.061 120.21 219.685 115.884 219.685 115.884Z" fill="white"/>
                <path d="M85.0266 58.4691C85.0266 58.4691 84.5309 64.2376 80.6402 64.6432C84.5309 65.0488 85.0266 70.8172 85.0266 70.8172C85.0266 70.8172 85.5224 65.0488 89.4131 64.6432C85.5224 64.2526 85.0266 58.4691 85.0266 58.4691Z" fill="#4F5F8D"/>
                <path d="M15.9253 58.7098C15.9253 58.7098 15.5747 62.7093 12.8608 62.982C15.5747 63.2547 15.9253 67.2541 15.9253 67.2541C15.9253 67.2541 16.2759 63.2547 18.9898 62.982C16.2759 62.6963 15.9253 58.7098 15.9253 58.7098Z" fill="#E6F7FF"/>
                <path d="M174.769 84.7133C174.769 84.7133 174.378 89.28 171.299 89.5954C174.378 89.9109 174.769 94.4776 174.769 94.4776C174.769 94.4776 175.16 89.9109 178.239 89.5954C175.16 89.28 174.769 84.7133 174.769 84.7133Z" fill="#FF0A54"/>
                <path d="M76.4194 166.868C76.4194 166.868 76.0288 171.435 72.9493 171.751C76.0288 172.066 76.4194 176.633 76.4194 176.633C76.4194 176.633 76.81 172.066 79.8895 171.751C76.81 171.435 76.4194 166.868 76.4194 166.868Z" fill="white"/>
                <path opacity="0.3" d="M241.698 25.4947H161.762C159.161 25.4947 157.073 27.6029 157.073 30.184V63.4824C157.073 66.0832 159.181 68.1717 161.762 68.1717H170.057C169.584 71.8365 168.954 77.0972 169.289 77.0972C169.663 77.0972 173.682 71.5606 176.126 68.1717H241.698C244.298 68.1717 246.387 66.0635 246.387 63.4824V30.184C246.387 27.6029 244.298 25.4947 241.698 25.4947Z" fill="#48CAE4"/>
                <path d="M174.376 59.3892L174.449 58.8252H173.88H165.585C163.279 58.8252 161.396 56.9592 161.396 54.6359V21.3375C161.396 19.0312 163.262 17.1482 165.585 17.1482H245.521C247.844 17.1482 249.71 19.0312 249.71 21.3375V54.6359C249.71 56.9422 247.844 58.8252 245.521 58.8252H179.948H179.693L179.543 59.0328C178.321 60.7274 176.708 62.9552 175.354 64.7587C174.677 65.6612 174.068 66.4525 173.607 67.0162C173.583 67.0456 173.559 67.0743 173.536 67.1023C173.563 66.5972 173.618 65.9476 173.69 65.2113C173.864 63.446 174.139 61.2209 174.376 59.3892Z" fill="#02CCC0" stroke="black"/>
                <path d="M184.684 46.4437C189.278 41.8501 189.278 34.4024 184.684 29.8088C180.091 25.2152 172.643 25.2152 168.049 29.8088C163.456 34.4024 163.456 41.8501 168.049 46.4437C172.643 51.0373 180.091 51.0374 184.684 46.4437Z" fill="white"/>
                <path d="M178.214 44.0556H174.766V47.5037H178.214V44.0556Z" fill="#FFC0BB"/>
                <path d="M178.234 46.1244V44.0556H174.786V45.8092C175.515 46.2032 176.618 46.4397 178.234 46.1244Z" fill="#F99893"/>
                <path d="M183.672 37.8683C183.317 37.691 182.884 37.7304 182.51 37.9077C182.648 34.499 179.85 31.6421 176.362 31.7603C172.855 31.6421 170.077 34.499 170.215 37.9077C169.84 37.7107 169.427 37.691 169.052 37.8683C168.363 38.2032 168.146 39.1884 168.579 40.0553C169.013 40.9223 169.919 41.3361 170.609 41.0011C170.707 40.9617 170.786 40.9026 170.865 40.8238C171.259 43.6413 173.623 45.7495 176.382 45.7101C179.14 45.7495 181.485 43.6413 181.899 40.8238C181.978 40.9026 182.056 40.9617 182.155 41.0011C182.845 41.3361 183.751 40.9223 184.184 40.0553C184.598 39.1884 184.381 38.2032 183.672 37.8683Z" fill="#FFC0BB"/>
                <path d="M172.166 30.4205C172.166 30.4205 173.9 28.9428 177.84 29.1989C181.781 29.4354 182.53 31.4845 182.766 34.44L182.53 37.9274C182.53 37.9274 181.505 36.8832 180.165 33.9474C180.165 33.9474 177.958 36.43 176.993 36.1344C176.028 35.8389 177.348 34.0656 177.348 34.0656C177.348 34.0656 172.855 37.9274 170.195 37.9274C170.195 37.9274 168.797 33.3957 170.767 31.7406C170.767 31.7406 169.289 31.8194 169.21 31.5239C169.131 31.2283 169.92 30.7949 171.338 30.9525C171.338 30.9525 170.314 28.9625 170.885 28.7655C171.476 28.5487 172.166 30.4205 172.166 30.4205Z" fill="#07085B"/>
                <path d="M178.628 41.8882C178.471 42.5778 177.702 43.1098 176.737 43.1295C175.771 43.1492 174.963 42.6763 174.766 42.0064L178.628 41.8882Z" fill="white"/>
                <path d="M238.585 28.2928H192.656C192.4 28.2928 192.184 28.076 192.184 27.8199V26.6968C192.184 26.4407 192.4 26.2239 192.656 26.2239H238.585C238.841 26.2239 239.057 26.4407 239.057 26.6968V27.8199C239.038 28.0957 238.841 28.2928 238.585 28.2928Z" fill="white"/>
                <path d="M202.804 33.6918H192.656C192.4 33.6918 192.184 33.4751 192.184 33.2189V32.0959C192.184 31.8397 192.4 31.623 192.656 31.623H202.804C203.06 31.623 203.276 31.8397 203.276 32.0959V33.2189C203.257 33.4948 203.06 33.6918 202.804 33.6918Z" fill="white"/>
                <path d="M238.585 33.6918H207.907C207.651 33.6918 207.434 33.4751 207.434 33.2189V32.0959C207.434 31.8397 207.651 31.623 207.907 31.623H238.585C238.841 31.623 239.058 31.8397 239.058 32.0959V33.2189C239.038 33.4948 238.841 33.6918 238.585 33.6918Z" fill="white"/>
                <path d="M215.926 39.0901H192.656C192.4 39.0901 192.184 38.8733 192.184 38.6172V37.4941C192.184 37.238 192.4 37.0212 192.656 37.0212H215.926C216.182 37.0212 216.399 37.238 216.399 37.4941V38.6172C216.399 38.893 216.182 39.0901 215.926 39.0901Z" fill="white"/>
                <path d="M238.584 39.0901H220.398C220.142 39.0901 219.925 38.8733 219.925 38.6172V37.4941C219.925 37.238 220.142 37.0212 220.398 37.0212H238.584C238.84 37.0212 239.057 37.238 239.057 37.4941V38.6172C239.037 38.893 238.84 39.0901 238.584 39.0901Z" fill="white"/>
                <path d="M238.585 44.489H192.656C192.4 44.489 192.184 44.2723 192.184 44.0161V42.893C192.184 42.6369 192.4 42.4202 192.656 42.4202H238.585C238.841 42.4202 239.057 42.6369 239.057 42.893V44.0161C239.038 44.2723 238.841 44.489 238.585 44.489Z" fill="white"/>
                <path d="M95.7227 223.728L94.9566 248.274L97.1348 252.195L101.041 249.37L103.895 228.189L95.7227 223.728Z" fill="#FFC0BB"/>
                <path d="M87.1451 253.712L102.137 253.757C102.392 253.757 102.603 253.546 102.618 253.291V252.63C102.618 252.375 102.408 252.149 102.152 252.149L87.1601 252.104C86.9047 252.104 86.6794 252.315 86.6794 252.57V253.231C86.6644 253.501 86.8747 253.712 87.1451 253.712Z" fill="white"/>
                <path d="M101.897 247.297L102.408 251.759C102.468 252.315 102.167 252.81 101.762 252.81L87.716 252.765C87.3555 252.765 86.995 252.54 86.7997 252.104C86.6044 251.669 86.5744 251.008 87.2053 250.121C88.4671 248.349 92.5982 247.928 94.6262 246.411L101.161 246.426C101.536 246.426 101.837 246.786 101.897 247.297Z" fill="#3660AC"/>
                <path d="M95.6023 248.995C95.7075 248.934 95.7375 248.754 95.6774 248.634C95.407 248.018 94.5508 246.531 92.7932 246.831C92.688 246.846 92.6279 246.982 92.643 247.117C92.658 247.252 92.7481 247.342 92.8533 247.327C94.4306 247.072 95.1517 248.379 95.377 248.889C95.4221 249.01 95.5272 249.055 95.6023 248.995Z" fill="white"/>
                <path d="M94.1454 249.565C94.2506 249.505 94.2806 249.34 94.2205 249.205C93.9501 248.589 93.0939 247.102 91.3363 247.402C91.2311 247.417 91.171 247.552 91.1861 247.688C91.2011 247.823 91.2912 247.913 91.3964 247.898C92.9737 247.628 93.6947 248.95 93.9201 249.46C93.9651 249.58 94.0553 249.625 94.1454 249.565Z" fill="white"/>
                <path d="M92.7932 250.091C92.8983 250.031 92.9284 249.851 92.8683 249.731C92.5979 249.115 91.7416 247.628 89.984 247.928C89.8789 247.943 89.8188 248.078 89.8338 248.214C89.8488 248.349 89.939 248.439 90.0441 248.424C91.6214 248.169 92.3425 249.476 92.5678 249.986C92.5979 250.106 92.703 250.151 92.7932 250.091Z" fill="white"/>
                <path opacity="0.3" d="M98.0063 252.795C99.1179 249.19 101.041 248.799 102.077 248.889L102.408 251.759C102.468 252.314 102.167 252.81 101.762 252.81L98.0063 252.795Z" fill="#E87B50"/>
                <path d="M131.655 221.143L129.131 248.273L126.953 252.194L123.048 249.37L123.138 220.452L131.655 221.143Z" fill="#FFC0BB"/>
                <path d="M136.943 253.711L121.951 253.757C121.696 253.757 121.47 253.546 121.47 253.291V252.63C121.47 252.375 121.681 252.149 121.936 252.149L136.928 252.104C137.184 252.104 137.409 252.314 137.409 252.57V253.231C137.424 253.501 137.214 253.711 136.943 253.711Z" fill="white"/>
                <path d="M122.191 247.297L121.681 251.758C121.62 252.314 121.921 252.81 122.327 252.81L136.372 252.765C136.733 252.765 137.093 252.539 137.289 252.104C137.484 251.668 137.514 251.007 136.883 250.121C135.621 248.348 131.49 247.928 129.462 246.41L122.927 246.425C122.552 246.425 122.251 246.786 122.191 247.297Z" fill="#3660AC"/>
                <path d="M128.485 248.994C128.38 248.934 128.35 248.754 128.41 248.634C128.681 248.018 129.537 246.531 131.295 246.831C131.4 246.846 131.46 246.981 131.445 247.117C131.43 247.252 131.34 247.342 131.235 247.327C129.657 247.072 128.936 248.379 128.711 248.889C128.666 249.009 128.561 249.054 128.485 248.994Z" fill="white"/>
                <path d="M129.943 249.565C129.838 249.505 129.808 249.34 129.868 249.205C130.138 248.589 130.995 247.102 132.752 247.402C132.857 247.417 132.917 247.552 132.902 247.688C132.887 247.823 132.797 247.913 132.692 247.898C131.115 247.627 130.394 248.949 130.168 249.46C130.123 249.58 130.033 249.625 129.943 249.565Z" fill="white"/>
                <path d="M131.295 250.091C131.189 250.031 131.159 249.851 131.22 249.731C131.49 249.115 132.346 247.628 134.104 247.928C134.209 247.943 134.269 248.078 134.254 248.213C134.239 248.349 134.149 248.439 134.044 248.424C132.466 248.168 131.745 249.475 131.52 249.986C131.49 250.106 131.385 250.151 131.295 250.091Z" fill="white"/>
                <path opacity="0.3" d="M126.082 252.795C124.97 249.19 123.048 248.799 122.011 248.889L121.681 251.759C121.62 252.314 121.921 252.81 122.327 252.81L126.082 252.795Z" fill="#E87B50"/>
                <path d="M111.796 77.9085C111.796 77.9085 119.428 75.7603 131.025 75.7603C131.025 75.7603 132.737 81.9945 129.733 83.1812C126.728 84.368 122.507 86.1255 122.312 86.4861C122.117 86.8466 117.325 86.9518 117.325 86.9518C117.325 86.9518 110.82 85.1191 110.61 84.8036C110.399 84.4881 110.61 79.7562 110.61 79.7562L111.796 77.9085Z" fill="#FFC0BB"/>
                <path d="M82.458 115.328C82.3528 115.629 82.6683 124.762 84.6061 130.035C86.544 135.308 89.5484 138.853 92.8833 138.733C96.2182 138.628 102.768 133.58 102.978 133.25C103.188 132.934 105.231 123.681 105.231 121.322C105.231 118.964 103.128 112.985 102.332 112.369C101.536 111.738 95.6774 108.103 94.9113 107.998C94.1602 107.893 89.6385 104.347 89.6385 104.347L82.458 115.328Z" fill="#ED3A61"/>
                <path d="M131.062 237.905L131.017 238.28H120.033V161.311L119.042 161.215L103.964 238.28H92.6738L100.656 138.145L122.407 131.199L140.934 139.072C140.264 153.14 137.791 177.898 135.473 199.227C134.306 209.976 133.178 219.85 132.343 227.036C131.925 230.629 131.58 233.55 131.34 235.573C131.22 236.584 131.126 237.371 131.062 237.905Z" fill="#3660AC" stroke="black"/>
                <path d="M90.8402 98.4284C90.7952 98.4284 90.705 98.4735 90.5849 98.5786C88.9625 99.8255 81.151 108.944 80.7454 113.556C80.3098 118.528 80.9557 120.571 82.1424 120.15C83.3292 119.715 90.8402 107.787 90.8402 107.472C90.8402 107.141 90.8402 98.4284 90.8402 98.4284Z" fill="#FA5371"/>
                <path d="M101.371 79.7407C101.371 79.7407 92.7782 81.8137 87.4603 110.04C87.4603 110.04 86.1684 118.272 89.0677 118.107C91.967 117.942 96.6388 109.049 96.6388 108.493C96.6388 107.952 105.186 87.7324 104.54 86.4706C103.895 85.2237 101.371 79.7407 101.371 79.7407Z" fill="#02CCC0"/>
                <path d="M100.696 118.226L100.633 118.099L100.184 118.318L100.633 118.098L100.633 118.098L100.633 118.098L100.632 118.096L100.627 118.086L100.61 118.05L100.541 117.908C100.482 117.785 100.396 117.606 100.292 117.386C100.083 116.945 99.7989 116.337 99.4983 115.67C98.8913 114.322 98.2353 112.771 97.9767 111.844L97.9757 111.841C97.9605 111.788 97.9384 111.619 97.9281 111.292C97.9185 110.984 97.9199 110.579 97.9323 110.089C97.9569 109.109 98.0243 107.808 98.1266 106.293C98.331 103.262 98.6735 99.3902 99.0869 95.5472C99.5005 91.703 99.9842 87.896 100.47 84.9939C100.714 83.5412 100.956 82.3265 101.188 81.4508C101.304 81.0113 101.414 80.6722 101.514 80.4359C101.564 80.3175 101.607 80.2377 101.639 80.1885C101.647 80.1764 101.654 80.1678 101.658 80.1618C102.023 79.9662 102.8 79.7473 103.844 79.5326C104.888 79.3181 106.125 79.1212 107.316 78.9538C108.505 78.7865 109.642 78.6495 110.481 78.5543C110.795 78.5188 111.066 78.4891 111.284 78.4659C111.285 78.6224 111.293 78.8034 111.312 79.0029C111.376 79.6767 111.572 80.5783 112.104 81.4603C113.197 83.2722 115.588 84.8159 120.548 84.4308C125.532 84.0439 128.172 81.9237 129.549 79.8403C130.23 78.8093 130.591 77.8039 130.783 77.0553C130.862 76.7428 130.913 76.4738 130.945 76.2648C133.308 76.3111 136.271 76.7082 138.715 77.11C140.012 77.323 141.154 77.5362 141.973 77.696C142.382 77.7759 142.71 77.8424 142.935 77.8889C143.048 77.9122 143.135 77.9304 143.194 77.9428L143.237 77.9519C146.945 79.5315 149.517 82.8029 151.279 86.9106C153.048 91.034 153.977 95.9484 154.425 100.689C154.872 105.426 154.835 109.963 154.686 113.318C154.612 114.995 154.509 116.375 154.426 117.335C154.384 117.815 154.347 118.189 154.32 118.444C154.314 118.501 154.309 118.553 154.304 118.598C153.428 119.122 152.258 119.217 150.904 118.994C149.463 118.757 147.895 118.172 146.43 117.482C144.97 116.795 143.634 116.015 142.663 115.406C142.178 115.102 141.784 114.841 141.513 114.657C141.378 114.565 141.273 114.492 141.202 114.442C141.166 114.417 141.14 114.398 141.122 114.386L141.102 114.371L141.098 114.368L141.097 114.367L141.096 114.367L141.096 114.367L140.246 113.753L140.304 114.801L142.055 146.13C131.828 149.05 120.799 148.788 112.268 147.775C107.954 147.263 104.289 146.56 101.703 145.986C100.41 145.699 99.3875 145.443 98.6893 145.261C98.4146 145.189 98.1901 145.128 98.0191 145.081L100.682 118.367L100.696 118.226Z" fill="#02CCC0" stroke="black"/>
                <path d="M102.903 79.2299C102.903 79.2299 99.9741 91.0223 100.725 94.0267C101.476 97.0311 105.352 92.4193 105.352 92.4193C105.352 92.4193 107.11 81.5734 108.492 78.2986C108.492 78.2986 105.172 76.9616 102.903 79.2299Z" fill="#FA5371"/>
                <path d="M102.888 88.0633C102.888 88.0633 102.257 86.3959 100.515 87.2071C100.515 87.2071 99.4933 86.6362 99.1778 87.162C98.8623 87.6878 97.0297 95.2739 97.0297 95.2739C97.0297 95.2739 88.6473 114.397 88.2117 116.605C87.7761 118.813 89.5487 125.528 91.0659 125.739C92.5681 125.949 100.515 121.547 101.011 118.919C101.491 116.29 102.092 99.42 102.092 99.42C102.092 99.42 106.479 93.8318 106.629 93.3962C106.794 92.9605 107.245 91.2029 105.953 90.557C104.646 89.896 106.433 88.3938 102.888 88.0633Z" fill="#FFC0BB"/>
                <path d="M122.342 119.73H113.96C113.749 119.73 113.569 119.549 113.569 119.339V102.59C113.569 102.379 113.749 102.199 113.96 102.199H122.342C122.552 102.199 122.733 102.379 122.733 102.59V119.339C122.748 119.564 122.567 119.73 122.342 119.73Z" fill="#444443"/>
                <path d="M124.61 110.446C125.451 112.264 127.284 113.406 129.282 113.406C133.773 113.391 142.065 113.421 144.439 113.826C147.744 114.397 154.008 116.53 154.774 118.889C155.555 121.247 151.529 126.64 131.61 121.247L122.101 117.627C122.101 117.627 115.927 116.665 114.47 114.833C113.298 113.346 112.682 111.017 112.727 109.71C112.742 109.335 113.118 109.079 113.463 109.214C114.845 109.71 118.421 110.807 122.311 110.597C122.311 110.597 123.814 107.427 124.625 106.946C125.436 106.465 124.309 109.635 124.52 110.281C124.55 110.311 124.58 110.371 124.61 110.446Z" fill="#FFC0BB"/>
                <path d="M107.83 54.6088L108.867 61.1134L111.06 52.4306C111.06 52.4306 107.981 50.9434 107.845 51.4842C107.725 52.0401 107.83 54.6088 107.83 54.6088Z" fill="#333333"/>
                <path d="M125.572 68.8197L126.578 80.6721L116.123 80.1614L117.324 69.676L125.572 68.8197Z" fill="#FFC0BB"/>
                <path d="M116.753 74.6633L117.324 69.676L125.571 68.8197L125.917 72.9207C124.279 74.5581 121.335 76.2556 116.753 74.6633Z" fill="#F99893"/>
                <path d="M110.805 61.038C111.406 62.2698 111.09 63.6668 110.099 64.1325C109.108 64.6132 107.831 63.9973 107.23 62.7655C106.629 61.5337 106.944 60.1366 107.936 59.671C108.927 59.1902 110.219 59.8061 110.805 61.038Z" fill="#F99893"/>
                <path d="M110.73 66.7467C110.024 65.1544 109.603 63.4418 109.363 61.9396C109.318 61.6242 109.243 61.2937 109.167 60.9782C108.852 59.7013 108.777 58.3193 108.987 56.8922C109.678 52.2804 113.389 48.6151 118 47.9691C124.22 47.1129 129.688 51.7096 130.078 57.8086C130.724 57.403 131.46 57.2678 132.136 57.5231C133.428 58.0038 133.984 59.7014 133.383 61.3237C132.782 62.9461 131.25 63.8625 129.958 63.3818C129.778 63.3217 129.613 63.2165 129.462 63.1114C129.267 68.324 125.271 72.6053 120.164 72.8457C116.078 73.0409 112.367 70.5773 110.73 66.7467Z" fill="#FFC0BB"/>
                <path d="M117.099 58.5444C117.084 59.1453 117.069 59.7461 117.039 60.332C116.994 60.9028 116.934 61.5037 116.709 61.9093L116.664 61.9694C116.649 61.9994 116.649 61.9994 116.604 62.0445C116.543 62.1196 116.483 62.1797 116.438 62.2698C116.348 62.4351 116.288 62.6304 116.273 62.8257C116.258 63.2313 116.468 63.5918 116.739 63.8021C117.28 64.2528 117.986 64.2978 118.571 64.1626C117.971 64.0575 117.415 63.8472 117.084 63.4716C116.934 63.2763 116.829 63.066 116.859 62.8557C116.874 62.7505 116.904 62.6604 116.964 62.5703C116.979 62.5252 117.039 62.4801 117.069 62.4351L117.144 62.3299L117.235 62.2097C117.43 61.8793 117.49 61.5638 117.52 61.2333C117.55 60.9179 117.55 60.6024 117.52 60.3019C117.46 59.7011 117.34 59.1152 117.099 58.5444Z" fill="#F99893"/>
                <path d="M120.629 59.3412C120.659 59.8519 121.08 60.2425 121.591 60.2275C122.101 60.1974 122.492 59.7768 122.477 59.2661C122.447 58.7553 122.026 58.3647 121.516 58.3798C120.99 58.4098 120.599 58.8304 120.629 59.3412Z" fill="#333333"/>
                <path d="M112.698 60.2425C112.728 60.7533 113.149 61.1439 113.659 61.1288C114.17 61.0988 114.561 60.6782 114.546 60.1674C114.516 59.6567 114.095 59.2661 113.584 59.2811C113.073 59.2961 112.683 59.7318 112.698 60.2425Z" fill="#333333"/>
                <path d="M122.177 65.6204C121.936 65.8307 121.681 66.026 121.41 66.2062C121.14 66.3865 120.87 66.5517 120.584 66.6869C120.013 66.9573 119.413 67.1676 118.782 67.2427C118.166 67.3179 117.52 67.2728 116.919 67.1075C116.318 66.9423 115.732 66.6569 115.176 66.3114C115.417 66.5217 115.687 66.7019 115.973 66.8672C116.258 67.0324 116.558 67.1676 116.859 67.2728C117.174 67.3779 117.49 67.4531 117.82 67.4831C118.151 67.5131 118.481 67.5131 118.812 67.4681C119.473 67.3779 120.104 67.1676 120.674 66.8371C121.245 66.5217 121.756 66.1161 122.177 65.6204Z" fill="#F99893"/>
                <path d="M119.457 57.2531C119.923 57.1029 120.374 56.9977 120.809 56.9226C121.245 56.8625 121.681 56.8475 122.101 56.8926C122.522 56.9526 122.943 57.0428 123.333 57.223C123.543 57.2831 123.739 57.4183 123.949 57.5085C124.159 57.6136 124.355 57.7488 124.58 57.854C124.46 57.6437 124.325 57.4334 124.174 57.2381C123.994 57.0578 123.829 56.8625 123.619 56.7273C123.213 56.4118 122.702 56.2466 122.176 56.1715C121.651 56.1114 121.125 56.1865 120.659 56.3668C120.193 56.5771 119.758 56.8625 119.457 57.2531Z" fill="#333333"/>
                <path d="M115.387 57.7187C115.011 57.3883 114.53 57.193 114.035 57.0878C113.539 56.9977 112.998 57.0277 112.502 57.1779C112.007 57.3432 111.541 57.6136 111.195 58.0042C111 58.1844 110.88 58.4097 110.745 58.605C110.625 58.8304 110.534 59.0557 110.459 59.2961C110.67 59.1458 110.835 58.9806 111.015 58.8454C111.21 58.7102 111.361 58.56 111.571 58.4548C111.932 58.1994 112.322 58.0342 112.728 57.899C113.133 57.7638 113.554 57.6887 113.99 57.6737C114.44 57.6436 114.891 57.6587 115.387 57.7187Z" fill="#333333"/>
                <path d="M107.635 48.4498C107.635 48.4498 104.525 48.5549 107.785 45.911C111.06 43.2822 119.833 40.1876 125.466 43.162C125.466 43.162 126.593 40.7735 128.215 41.3443C129.837 41.9151 127.164 43.5676 127.164 43.5676C127.164 43.5676 129.237 43.5075 129.883 44.514C130.348 45.2651 129.086 45.2951 128.38 45.2651C129.567 45.4604 134.104 48.3296 131.82 57.478C131.009 57.2978 126.397 50.6129 126.397 50.6129C126.397 50.6129 115.852 56.4715 116.903 51.8147C116.903 51.8147 105.982 58.6347 107.53 53.0014C107.53 53.0014 103.309 53.3019 107.635 48.4498Z" fill="#333333"/>
                <path d="M131.821 57.4783C131.821 57.4783 130.95 57.2229 130.018 57.9741C129.087 58.7252 129.177 61.339 129.177 61.339C129.177 61.339 124.7 64.2232 125.166 51.9953C125.662 38.9862 128.907 53.0318 128.907 53.0318L131.821 57.4783Z" fill="#333333"/>
                <path d="M140.624 113.555C140.624 113.465 140.413 104.347 140.098 94.2518C139.782 84.0969 142.697 79.8156 142.817 79.6354L143.117 79.8457C143.087 79.8908 140.143 84.2321 140.458 94.2368C140.774 104.332 140.984 113.45 140.984 113.54L140.624 113.555Z" fill="#E2FAFA"/>
                <path opacity="0.3" d="M73.2974 122.911H6.90262C4.61611 122.911 2.74402 124.768 2.74402 127.069V154.465C2.74402 156.751 4.60182 158.623 6.90262 158.623H59.1782C61.2932 161.581 65.1231 166.869 65.4661 166.869C65.7805 166.869 65.166 161.881 64.7372 158.623H73.2974C75.5839 158.623 77.456 156.765 77.456 154.465V127.055C77.456 124.768 75.5982 122.911 73.2974 122.911Z" fill="#888888" fill-opacity="0.7"/>
                <path d="M56.8409 151.216L56.6913 151.006H56.4341H4.1586C2.13505 151.006 0.5 149.359 0.5 147.348V119.952C0.5 117.929 2.14711 116.294 4.1586 116.294H70.5534C72.5781 116.294 74.212 117.928 74.212 119.952V147.348C74.212 149.371 72.5649 151.006 70.5534 151.006H61.9932H61.4231L61.4975 151.572C61.7118 153.2 61.9718 155.255 62.1389 156.902C62.2035 157.539 62.2537 158.109 62.2822 158.567C62.2816 158.566 62.281 158.565 62.2804 158.564C61.8465 158.031 61.2744 157.284 60.6431 156.439C59.3816 154.752 57.8979 152.694 56.8409 151.216Z" fill="#D9D9D9" stroke="black"/>
                <path d="M18.2824 143.258C23.5902 141.036 26.0946 134.938 23.8761 129.638C21.6577 124.337 15.5565 121.841 10.2487 124.063C4.94098 126.284 2.43659 132.382 4.65503 137.683C6.87348 142.983 12.9747 145.479 18.2824 143.258Z" fill="white"/>
                <path d="M8.84581 133.929C8.84581 133.929 7.81687 129.699 10.2749 128.112C12.7329 126.526 15.3624 126.169 17.1487 127.084C19.6353 128.355 20.6643 131.771 19.864 133.672L13.2616 132.014L8.84581 133.929Z" fill="#040744"/>
                <path d="M15.9054 138.902H12.8472V141.96H15.9054V138.902Z" fill="#FFC0BB"/>
                <path d="M15.9054 140.731V138.902H12.8472V140.459C13.5045 140.802 14.4763 141.003 15.9054 140.731Z" fill="#F99893"/>
                <path d="M20.7213 133.429C20.4069 133.272 20.0353 133.3 19.6923 133.472C19.8067 130.456 17.3487 127.927 14.2476 128.041C11.1465 127.941 8.68847 130.471 8.80279 133.472C8.47411 133.3 8.10255 133.272 7.77386 133.429C7.15936 133.729 6.97358 134.601 7.34514 135.358C7.7167 136.115 8.53127 136.501 9.13148 136.201C9.21722 136.158 9.28868 136.101 9.36013 136.044C9.7174 138.531 11.7896 140.403 14.2333 140.36C16.677 140.388 18.7491 138.531 19.1064 136.044C19.1779 136.101 19.2493 136.158 19.3351 136.201C19.9496 136.501 20.7498 136.13 21.1214 135.358C21.5215 134.601 21.3358 133.729 20.7213 133.429Z" fill="#FFC0BB"/>
                <path d="M16.2627 136.987C16.134 137.587 15.4338 138.059 14.5906 138.088C13.7475 138.116 13.0187 137.687 12.8472 137.087L16.2627 136.987Z" fill="white"/>
                <path d="M8.81721 133.471C8.81721 133.471 12.8186 132.257 14.5621 130.242C14.5621 130.242 14.0619 132.685 13.6903 133.071C13.8047 133.143 17.6918 131.256 18.2062 129.527C18.735 127.784 14.2334 127.155 14.2334 127.155C14.2334 127.155 12.69 127.812 12.6185 127.855C12.5471 127.898 11.1037 128.07 10.9322 128.427C10.7179 128.913 9.70323 128.956 9.70323 128.956L9.06015 130.299L8.60284 131.714L8.81721 133.471Z" fill="#040744"/>
                <path d="M5.54474 127.97C6.43076 128.327 7.44541 128.484 8.50292 128.17C10.8323 127.455 11.7612 127.727 12.0756 127.913C12.2614 128.013 12.49 128.056 12.6901 127.998C12.9188 127.927 13.1331 127.713 13.0617 127.184C13.0617 127.184 13.1474 124.969 11.2467 123.697C8.87448 124.397 6.85949 125.941 5.54474 127.97Z" fill="#040744"/>
                <path d="M10.5609 127.812C10.4895 127.726 10.5181 127.583 10.6038 127.526C10.9897 127.269 11.99 126.697 13.2047 126.626C13.3191 126.626 13.4191 126.712 13.4191 126.826C13.4191 126.926 13.3333 127.012 13.2333 127.026C12.1329 127.083 11.1897 127.626 10.8325 127.855C10.7467 127.926 10.6181 127.898 10.5609 127.812Z" fill="#FEB546"/>
                <path d="M40.2426 126.498H27.1094C26.8808 126.498 26.695 126.312 26.695 126.083V125.097C26.695 124.868 26.8808 124.683 27.1094 124.683H40.2426C40.4713 124.683 40.6571 124.868 40.6571 125.097V126.083C40.6428 126.312 40.457 126.498 40.2426 126.498Z" fill="white"/>
                <path d="M35.7125 131.271H27.1094C26.8808 131.271 26.695 131.085 26.695 130.856V129.87C26.695 129.642 26.8808 129.456 27.1094 129.456H35.7125C35.9411 129.456 36.1269 129.642 36.1269 129.87V130.856C36.1269 131.085 35.9411 131.271 35.7125 131.271Z" fill="white"/>
                <path d="M48.9312 131.271H38.156C37.9274 131.271 37.7416 131.085 37.7416 130.856V129.87C37.7416 129.642 37.9274 129.456 38.156 129.456H48.9312C49.1599 129.456 49.3457 129.642 49.3457 129.87V130.856C49.3314 131.085 49.1599 131.271 48.9312 131.271Z" fill="white"/>
                <path d="M66.1804 126.498H43.3724C43.1437 126.498 42.9579 126.312 42.9579 126.083V125.097C42.9579 124.868 43.1437 124.683 43.3724 124.683H66.1804C66.4091 124.683 66.5948 124.868 66.5948 125.097V126.083C66.5948 126.312 66.4091 126.498 66.1804 126.498Z" fill="white"/>
                <path d="M66.1803 140.617H27.1094C26.8808 140.617 26.695 140.431 26.695 140.203V139.217C26.695 138.988 26.8808 138.802 27.1094 138.802H66.1803C66.409 138.802 66.5947 138.988 66.5947 139.217V140.203C66.5947 140.431 66.409 140.617 66.1803 140.617Z" fill="white"/>
                <path d="M46.9021 136.044H27.1094C26.8808 136.044 26.695 135.858 26.695 135.629V134.643C26.695 134.414 26.8808 134.229 27.1094 134.229H46.9021C47.1308 134.229 47.3165 134.414 47.3165 134.643V135.629C47.3022 135.858 47.1308 136.044 46.9021 136.044Z" fill="white"/>
                <path d="M66.1805 136.044H50.7322C50.5036 136.044 50.3178 135.858 50.3178 135.629V134.643C50.3178 134.414 50.5036 134.229 50.7322 134.229H66.1805C66.4092 134.229 66.595 134.414 66.595 134.643V135.629C66.595 135.858 66.4092 136.044 66.1805 136.044Z" fill="white"/>
                <path opacity="0.3" d="M80.45 7.85327H8.3396C5.85625 7.85327 3.823 9.87099 3.823 12.3699V42.1235C3.823 44.6069 5.84072 46.6401 8.3396 46.6401H65.1153C67.4124 49.853 71.572 55.5957 71.9445 55.5957C72.286 55.5957 71.6186 50.1789 71.1529 46.6401H80.45C82.9334 46.6401 84.9666 44.6224 84.9666 42.1235V12.3543C84.9666 9.871 82.9489 7.85327 80.45 7.85327Z" fill="#FF7096"/>
                <path d="M62.5421 38.62L62.3925 38.4108H62.1354H5.35968C3.13806 38.4108 1.34308 36.6026 1.34308 34.3942V4.64056C1.34308 2.41894 3.15135 0.623962 5.35968 0.623962H77.4701C79.6928 0.623962 81.4867 2.41782 81.4867 4.64056V34.3942C81.4867 36.6158 79.6784 38.4108 77.4701 38.4108H68.173H67.6029L67.6773 38.976C67.91 40.7448 68.1925 42.9775 68.374 44.7662C68.4507 45.5211 68.5086 46.1901 68.5376 46.7091C68.5096 46.675 68.4809 46.6398 68.4515 46.6036C67.9797 46.023 67.3579 45.2113 66.6722 44.294C65.3018 42.4611 63.6901 40.2257 62.5421 38.62Z" fill="#F26E56" stroke="black"/>
                <path d="M20.6995 29.9517C26.4642 27.539 29.1842 20.9163 26.7747 15.1595C24.3653 9.40278 17.7389 6.6919 11.9742 9.10463C6.20952 11.5174 3.48954 18.1401 5.89896 23.8968C8.30838 29.6536 14.9348 32.3645 20.6995 29.9517Z" fill="white"/>
                <path d="M10.4506 19.8202C10.4506 19.8202 9.33306 15.226 12.0027 13.5032C14.6723 11.7804 17.5281 11.3924 19.4682 12.3857C22.1689 13.7671 23.2864 17.4766 22.4172 19.5409L15.2465 17.7404L10.4506 19.8202Z" fill="#040744"/>
                <path d="M18.1182 25.2211H14.7967V28.5425H18.1182V25.2211Z" fill="#FFC0BB"/>
                <path d="M18.1182 27.2077V25.2211H14.7967V26.9128C15.5107 27.2853 16.5661 27.5026 18.1182 27.2077Z" fill="#F99893"/>
                <path d="M23.3485 19.277C23.0071 19.1062 22.6035 19.1373 22.231 19.3235C22.3552 16.0486 19.6856 13.3014 16.3175 13.4256C12.9495 13.3169 10.2799 16.0641 10.4041 19.3235C10.0471 19.1373 9.64353 19.1062 9.28655 19.277C8.61914 19.6029 8.41737 20.5497 8.82092 21.3723C9.22446 22.1949 10.1092 22.614 10.761 22.288C10.8542 22.2415 10.9318 22.1794 11.0094 22.1173C11.3974 24.8179 13.6479 26.8512 16.302 26.8046C18.9561 26.8357 21.2067 24.8179 21.5947 22.1173C21.6723 22.1794 21.7499 22.2415 21.843 22.288C22.5104 22.614 23.3796 22.2104 23.7831 21.3723C24.2177 20.5497 24.0159 19.6029 23.3485 19.277Z" fill="#FFC0BB"/>
                <path d="M18.5062 23.1414C18.3665 23.7932 17.606 24.3054 16.6902 24.3365C15.7745 24.3675 14.9829 23.9019 14.7967 23.25L18.5062 23.1414Z" fill="white"/>
                <path d="M10.4196 19.3234C10.4196 19.3234 14.7655 18.0041 16.659 15.8157C16.659 15.8157 16.1158 18.4697 15.7122 18.8888C15.8364 18.9664 20.0581 16.9176 20.6169 15.0396C21.1911 13.1461 16.302 12.4631 16.302 12.4631C16.302 12.4631 14.6258 13.1771 14.5482 13.2237C14.4706 13.2702 12.9029 13.4565 12.7167 13.8445C12.4839 14.3722 11.3819 14.4188 11.3819 14.4188L10.6834 15.8777L10.1868 17.4143L10.4196 19.3234Z" fill="#040744"/>
                <path d="M6.8656 13.3478C7.8279 13.7358 8.92989 13.9066 10.0784 13.5651C12.6084 12.789 13.6172 13.0839 13.9587 13.2857C14.1605 13.3944 14.4088 13.4409 14.6261 13.3788C14.8744 13.3012 15.1072 13.0684 15.0296 12.4941C15.0296 12.4941 15.1228 10.0884 13.0585 8.70703C10.482 9.46756 8.29353 11.1438 6.8656 13.3478Z" fill="#040744"/>
                <path d="M12.3128 13.1768C12.2352 13.0837 12.2663 12.9285 12.3594 12.8664C12.7785 12.5871 13.8649 11.9662 15.1842 11.8886C15.3084 11.8886 15.417 11.9817 15.417 12.1059C15.417 12.2146 15.3239 12.3077 15.2153 12.3232C14.0201 12.3853 12.9958 12.9751 12.6077 13.2234C12.5146 13.301 12.3749 13.27 12.3128 13.1768Z" fill="#FEB546"/>
                <path d="M44.5505 11.749H30.2867C30.0384 11.749 29.8366 11.5473 29.8366 11.2989V10.228C29.8366 9.97966 30.0384 9.77789 30.2867 9.77789H44.5505C44.7988 9.77789 45.0006 9.97966 45.0006 10.228V11.2989C44.9851 11.5473 44.7833 11.749 44.5505 11.749Z" fill="white"/>
                <path d="M39.6303 16.9334H30.2867C30.0384 16.9334 29.8366 16.7316 29.8366 16.4833V15.4123C29.8366 15.164 30.0384 14.9622 30.2867 14.9622H39.6303C39.8787 14.9622 40.0804 15.164 40.0804 15.4123V16.4833C40.0804 16.7316 39.8787 16.9334 39.6303 16.9334Z" fill="white"/>
                <path d="M53.9868 16.9334H42.284C42.0356 16.9334 41.8339 16.7316 41.8339 16.4833V15.4123C41.8339 15.164 42.0356 14.9622 42.284 14.9622H53.9868C54.2351 14.9622 54.4369 15.164 54.4369 15.4123V16.4833C54.4214 16.7316 54.2351 16.9334 53.9868 16.9334Z" fill="white"/>
                <path d="M72.7205 11.749H47.9491C47.7007 11.749 47.499 11.5473 47.499 11.2989V10.228C47.499 9.97966 47.7007 9.77789 47.9491 9.77789H72.7205C72.9689 9.77789 73.1706 9.97966 73.1706 10.228V11.2989C73.1706 11.5473 72.9689 11.749 72.7205 11.749Z" fill="white"/>
                <path d="M72.721 27.0837H30.2867C30.0384 27.0837 29.8366 26.8819 29.8366 26.6336V25.5627C29.8366 25.3143 30.0384 25.1125 30.2867 25.1125H72.721C72.9693 25.1125 73.1711 25.3143 73.1711 25.5627V26.6336C73.1711 26.8819 72.9693 27.0837 72.721 27.0837Z" fill="white"/>
                <path d="M51.7832 22.1172H30.2867C30.0384 22.1172 29.8366 21.9154 29.8366 21.667V20.5961C29.8366 20.3478 30.0384 20.146 30.2867 20.146H51.7832C52.0316 20.146 52.2334 20.3478 52.2334 20.5961V21.667C52.2178 21.9154 52.0316 22.1172 51.7832 22.1172Z" fill="white"/>
                <path d="M72.7209 22.1172H55.9428C55.6944 22.1172 55.4927 21.9154 55.4927 21.667V20.5961C55.4927 20.3478 55.6944 20.146 55.9428 20.146H72.7209C72.9693 20.146 73.171 20.3478 73.171 20.5961V21.667C73.171 21.9154 72.9693 22.1172 72.7209 22.1172Z" fill="white"/>
                <path opacity="0.3" d="M224.777 141.458H169.338C167.534 141.458 166.086 142.921 166.086 144.711V167.805C166.086 169.608 167.548 171.057 169.338 171.057H175.091C174.763 173.599 174.326 177.247 174.558 177.247C174.818 177.247 177.605 173.407 179.3 171.057H224.777C226.581 171.057 228.03 169.595 228.03 167.805V144.711C228.03 142.921 226.581 141.458 224.777 141.458Z" fill="#FA5371" fill-opacity="0.6"/>
                <path d="M178.238 164.985L178.311 164.421H177.742H171.989C170.474 164.421 169.237 163.195 169.237 161.669V138.575C169.237 137.06 170.463 135.823 171.989 135.823H227.429C228.955 135.823 230.181 137.06 230.181 138.575V161.669C230.181 163.184 228.955 164.421 227.429 164.421H181.951H181.695L181.546 164.629C180.698 165.804 179.58 167.348 178.642 168.598C178.289 169.068 177.964 169.493 177.69 169.84C177.709 169.593 177.734 169.316 177.763 169.019C177.884 167.797 178.074 166.255 178.238 164.985Z" fill="#FA5371" stroke="black"/>
                <path d="M185.236 155.987C188.422 152.801 188.422 147.636 185.236 144.45C182.05 141.264 176.885 141.264 173.699 144.45C170.513 147.636 170.513 152.801 173.699 155.987C176.885 159.173 182.05 159.173 185.236 155.987Z" fill="white"/>
                <path d="M180.749 154.331H178.357V156.722H180.749V154.331Z" fill="#FFC0BB"/>
                <path d="M180.762 155.766V154.331H178.371V155.547C178.877 155.821 179.642 155.985 180.762 155.766Z" fill="#F99893"/>
                <path d="M184.534 150.04C184.288 149.917 183.987 149.944 183.728 150.067C183.823 147.703 181.883 145.722 179.464 145.804C177.032 145.722 175.105 147.703 175.201 150.067C174.941 149.931 174.654 149.917 174.394 150.04C173.916 150.272 173.766 150.955 174.067 151.557C174.367 152.158 174.996 152.445 175.474 152.213C175.542 152.185 175.597 152.144 175.652 152.09C175.925 154.044 177.565 155.506 179.478 155.479C181.391 155.506 183.017 154.044 183.304 152.09C183.359 152.144 183.413 152.185 183.482 152.213C183.96 152.445 184.589 152.158 184.889 151.557C185.176 150.955 185.026 150.272 184.534 150.04Z" fill="#FFC0BB"/>
                <path d="M176.553 144.874C176.553 144.874 177.756 143.849 180.489 144.027C183.222 144.191 183.741 145.612 183.905 147.662L183.741 150.08C183.741 150.08 183.03 149.356 182.101 147.32C182.101 147.32 180.571 149.042 179.901 148.837C179.232 148.632 180.147 147.402 180.147 147.402C180.147 147.402 177.031 150.08 175.187 150.08C175.187 150.08 174.216 146.937 175.583 145.79C175.583 145.79 174.558 145.844 174.503 145.639C174.449 145.434 174.995 145.134 175.979 145.243C175.979 145.243 175.269 143.863 175.665 143.726C176.075 143.576 176.553 144.874 176.553 144.874Z" fill="#07085B"/>
                <path d="M181.036 152.827C180.926 153.306 180.393 153.675 179.724 153.688C179.054 153.702 178.494 153.374 178.357 152.909L181.036 152.827Z" fill="white"/>
                <path d="M222.619 143.399H190.765C190.588 143.399 190.437 143.248 190.437 143.071V142.292C190.437 142.114 190.588 141.964 190.765 141.964H222.619C222.796 141.964 222.946 142.114 222.946 142.292V143.071C222.933 143.262 222.796 143.399 222.619 143.399Z" fill="white"/>
                <path d="M197.803 147.143H190.765C190.588 147.143 190.437 146.993 190.437 146.815V146.036C190.437 145.858 190.588 145.708 190.765 145.708H197.803C197.98 145.708 198.131 145.858 198.131 146.036V146.815C198.117 147.006 197.98 147.143 197.803 147.143Z" fill="white"/>
                <path d="M222.619 147.143H201.343C201.165 147.143 201.015 146.993 201.015 146.815V146.036C201.015 145.858 201.165 145.708 201.343 145.708H222.619C222.797 145.708 222.947 145.858 222.947 146.036V146.815C222.933 147.006 222.797 147.143 222.619 147.143Z" fill="white"/>
                <path d="M206.904 150.887H190.765C190.588 150.887 190.437 150.737 190.437 150.559V149.78C190.437 149.603 190.588 149.452 190.765 149.452H206.904C207.081 149.452 207.232 149.603 207.232 149.78V150.559C207.232 150.75 207.081 150.887 206.904 150.887Z" fill="white"/>
                <path d="M222.619 150.887H210.006C209.828 150.887 209.678 150.737 209.678 150.559V149.78C209.678 149.603 209.828 149.452 210.006 149.452H222.619C222.796 149.452 222.947 149.603 222.947 149.78V150.559C222.933 150.75 222.796 150.887 222.619 150.887Z" fill="white"/>
                <path d="M222.619 154.631H190.765C190.588 154.631 190.437 154.481 190.437 154.303V153.524C190.437 153.347 190.588 153.196 190.765 153.196H222.619C222.796 153.196 222.946 153.347 222.946 153.524V154.303C222.933 154.481 222.796 154.631 222.619 154.631Z" fill="white"/>
              </svg>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="293" height="4" viewBox="0 0 289 4" fill="none">
              <path d="M286.871 4H2.12875C0.950022 4 0 3.10744 0 2.00001C0 0.892575 0.950022 0 2.12875 0H286.871C288.05 0 289 0.892575 289 2.00001C289 3.09092 288.05 4 286.871 4Z" fill="#040404"/>
            </svg>
          </div>

            <form id="registerd-from" action="/signup" method="post" enctype="multipart/form-data">
                <div class="form-group" id="form-group-1">
                  <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="emailHelp" placeholder="Enter your full name"> 
                  <span class="eye-btm-see" id="first_name-check"></span>
                </div>
               
                <div class="form-group" id="form-group-2">
                  <input type="email" class="form-control" name="Email_id" id="Email_id" aria-describedby="emailHelp" placeholder="Enter a valid Emails"> 
                  <span class="eye-btm-see" id="Email_id-check"></span>
                </div>

                <div class="form-group mb-0" id="form-group-3">
                  <input type="password" class="form-control" name="passwords" id="Passwords-input2" placeholder="Enter a valid password">
                  <span class="eye-btm-see52" id="password-check"></i></span>
                  <span class="eye-btm-see" id="eye-seen1"><i class="bi bi-eye-fill" style="font-size: 18px;"></i></span>
                </div>

                <div class="form-group mb-0" id="form-group-4">
                  <input type="password" class="form-control" name="confirm_password" id="Passwords-input" placeholder="Confirm your password">
                  <span class="eye-btm-see53" id="confirmPassword-check"></span>
                  <span class="eye-btm-see" id="eye-seen2"><i class="bi bi-eye-fill" style="font-size: 18px;"></i></span>
                  <span><p class="position-relative mb-0" id="password-not-match" style="bottom: 10px; font-size: 13px; font-weight: 700; color:#FF0A54; transition: opacity 0.3s ease, transform 0.3s ease;"></p></span>
                </div>

                <div class="form-group" id="character-div" hidden>
                  <input type="text" class="form-control" name="choose_character" id="choose-character" hidden>
                </div>
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" hidden></button>

                <!-- choose-character modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content" style="background-color: #53C58A;">
                      <div class="modal-header" style="border-bottom: 2px solid #cbd5e175;">
                        <h5 class="modal-title font-weight-bolder" id="staticBackdropLabel">Choose your character</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="character-selection d-flex flex-wrap" style="gap: 10px;">

                          <div class="all-character" data-character="/src/Character/chemist.png">
                            <img src="/src/Character/chemist.png" alt="Character 1" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/courier (1).png">
                            <img src="/src/Character/courier (1).png" alt="Character 2" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/courier.png">
                            <img src="/src/Character/courier.png" alt="Character 2" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/diver.png">
                            <img src="/src/Character/diver.png" alt="Character 2" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/graphic-designer.png">
                            <img src="/src/Character/graphic-designer.png" alt="Character 2" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/judge.png">
                            <img src="/src/Character/judge.png" alt="Character 2" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/painter.png">
                            <img src="/src/Character/painter.png" alt="Character 2" class="character-image">
                          </div>

                          <div class="all-character" data-character="/src/Character/pilot.png">
                            <img src="/src/Character/pilot.png" alt="Character 2" class="character-image">
                          </div>
                          
                          <div class="all-character" data-character="/src/Character/teacher.png">
                            <img src="/src/Character/teacher.png" alt="Character 2" class="character-image">
                          </div>
                          
                          <div class="button-div" id="button-div">
                            <img class="img-preloader d-none" id="image-preloader" src="/src/svg/preloader.svg" alt="preloader">
                            <button class="button-file" id="button-file"><img src="/src/svg/file.svg" id="selsc-file-icon"></button>
                          </div>

                      </div>
                      </div>
                      <div class="modal-footer justify-content-between" style="border-top: 2px solid #cbd5e175;">
                        <button type="button" id="skipe-button" class="btn">Skipe</button>
                        <button type="button" id="save-button" class="btn" disabled>Save</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="links">
                    <a href="/signin">Have an accounts?</a>
                </div>
    
                <div class="form-submit">
                    <button type="submit" class="signin-btn mt-3 mb-5" id="signin-btn">Sign up</button>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="position: relative; left: -50%; top: -12px; display: none;"></span>
                </div>
               
              </form>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="/javascripts/registerd.js"></script>

    <script>
      let allInputs = document.querySelectorAll('input');

      $(document).ready(()=>{
        function validateFirstName() {
        const nameField = $('#first_name');
        const name_check = $('#first_name-check');
        const trimName = nameField.val().trim();
        const from_group = $('#form-group-1');

      if (trimName === '') {

        $(nameField).css('border', '3px solid #000');
        $(from_group).removeClass('mb-0');
        $(name_check).html('');
        return false;

      } else if(trimName.length <= 5) {

        $(nameField).css('border', '3px solid #FF0A54');
        $(from_group).addClass('mb-0');
        $(name_check).html('<i class="bi bi-x-circle-fill" style="color: #FF0A54;"></i>');
        return false;

      }else if(trimName.length >= 6 && trimName.length <= 20){
        $(nameField).css('border', '3px solid #28a745');
        $(from_group).addClass('mb-0');
        $(name_check).html('<i class="bi bi-check-circle-fill" style="color: #28a745;"></i>');
        return true;

      }else{

        $(nameField).css('border', '3px solid #FF0A54');
        $(from_group).addClass('mb-0');
        $(name_check).html('<i class="bi bi-x-circle-fill" style="color: #FF0A54;"></i>');
        return false;

      }
    };

    function EmailVaidation() {
      const Email_input = $('#Email_id');
      const email = Email_input.val().trim();
      const Email_group = $('#form-group-2');
      const Email_check = $('#Email_id-check');
      let EmailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;

      if (email === '') {
        $(Email_input).css('border', '3px solid #000');
        $(Email_group).removeClass('mb-0');
        $(Email_check).html('');
        return false;

      } else if(EmailRegex.test(email)) {
        $(Email_input).css('border', '3px solid #28a745');
        $(Email_group).addClass('mb-0');
        $(Email_check).html('<i class="bi bi-check-circle-fill" style="color: #28a745;"></i>');
        return true;
      }else{
        $(Email_input).css('border', '3px solid #FF0A54');
        $(Email_group).addClass('mb-0');
        $(Email_check).html('<i class="bi bi-x-circle-fill" style="color: #FF0A54;"></i>');
        return false;
      }
    };

    function PasswordValidation() {
      const password_input = $('#Passwords-input2');
      const password = password_input.val().trim();
      const password_group = $('#form-group-3');
      const password_check = $('#password-check');

      let passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{5,}$/;

      if (password === '') {
        $(password_input).css('border', '3px solid #000');
        $(password_check).html('');
        return false;
      } else if(passwordRegex.test(password)){
        $(password_input).css('border', '3px solid #28a745');
        $(password_group).addClass('mb-0');
        $(password_check).html('<i class="bi bi-check-circle-fill" style="color: #28a745;"></i>');
        return true;
      }else{
        $(password_input).css('border', '3px solid #FF0A54');
        $(password_group).addClass('mb-0');
        $(password_check).html('<i class="bi bi-x-circle-fill" style="color: #FF0A54;"></i>');
        return false;
      }
    };

    function confirmPasswordValidation() {
      const confirm_input = $('#Passwords-input');
      const main_password = $('#Passwords-input2').val().trim()
      const confirm_passwords = confirm_input.val().trim();
      const confirm_group = $('#form-group-4');
      const confirm_check = $('#confirmPassword-check');
      const confirm_message = $('#password-not-match');

      if (confirm_passwords === '') {
        $(confirm_input).css('border', '3px solid #000');
        $(confirm_check).html('');
        $(confirm_message).text('');
        return false;
      } else if(main_password === ''){
        $(confirm_input).css('border', '3px solid #FF0A54');
        $(confirm_check).html('<i class="bi bi-x-circle-fill" style="color: #FF0A54;"></i>');
        $(confirm_message).text('Upper Password field is empty !');
        return false;
      }else if(main_password !== confirm_passwords){
        $(confirm_input).css('border', '3px solid #FF0A54');
        $(confirm_check).html('<i class="bi bi-x-circle-fill" style="color: #FF0A54;"></i>');
        $(confirm_message).text('Password is not match !');
        return false;
      }else{
        $(confirm_input).css('border', '3px solid #28a745');
        $(confirm_check).html('<i class="bi bi-check-circle-fill" style="color: #28a745;"></i>');
        $(confirm_message).text('');
        return true;
      }
    };

        $('#first_name').on('input', validateFirstName);

        $('#Email_id').on('input', EmailVaidation);

        $('#Passwords-input2').on('input', PasswordValidation);

        $('#Passwords-input').on('input', confirmPasswordValidation);
      });

const notyf = new Notyf({
        position: {
        x: 'center',
        y: 'top',
      },
      types: [
    {
      background: 'linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%)',
      icon: '<i class="bi bi-x-circle-fill"></i>'
    }
  ]
      });

    $(window).on('load', ()=>{
      let errors = "<%= error_msg %>";
    
        if (errors) {
          notyf.open({
          message: errors,
          duration: 5000
        })
        };
    });

    $(document).ready(()=>{
      let selectedCharacter = '';

      $('#registerd-from').submit(function (event) {

        if ($('#first_name').val() === '' || $('#Email_id').val() === '' || $('#Passwords-input2').val() === '' || $('#Passwords-input').val() === '') {
          event.preventDefault();
          notyf.open({
          message: 'All fields are required !',
          duration: 5000
        });
        $(allInputs).css('border', '3px solid #FF0A54');
        $(allInputs).effect('shake');
        return;
        }
        
        if ($('#choose-character').val() === '') {
          $('#staticBackdrop').modal('show');
          event.preventDefault();
          return;
        }
      });

      $('.all-character').click(function(e){
        if ($('#character-div').find($('#choose-character')).length > 0) {
          $('.all-character').css('border', '3px solid #f8f9fa');
          $('#selsc-file-icon').prop('src', '/src/svg/file.svg');
          $(this).css('border', '3px solid #fec347');
          selectedCharacter = $(this).data('character');
          $('#save-button').prop('disabled', false);
          $('#save-button').css('cursor', 'pointer');
          return;
        }else{
          $('#character-div').html('');
          $('#selsc-file-icon').prop('src', '/src/svg/file.svg');
          let characterInput = $('<input>').attr('type', 'text');
          characterInput.attr('name', 'choose_character');
          characterInput.attr('id', 'choose-character');
          characterInput.prop('hidden', true);
          $('#character-div').append(characterInput);

          $('.all-character').css('border', '3px solid #f8f9fa');
          $(this).css('border', '3px solid #fec347');
          selectedCharacter = $(this).data('character');
          $('#save-button').prop('disabled', false);
          $('#save-button').css('cursor', 'pointer');
          return;
        }
      });

      $('#button-file').click(function (e) {
        e.preventDefault();
        $('#character-div').html('');
        $('.all-character').css('border', '3px solid #f8f9fa');
        $('#save-button').prop('disabled', true);
        $('#save-button').css('cursor', 'no-drop');
        let inputElement = $('<input>').attr('type', 'file')
        inputElement.attr('name', 'file');
        inputElement.attr('id', 'choose_pic');
        inputElement.addClass('form-control');
        inputElement.prop('hidden', true);
        $('#character-div').append(inputElement)
        $(inputElement).click();

        $(inputElement).on('change', (e)=>{
          let outputIMG = $('#selsc-file-icon');
          let files = e.target.files[0];
          let validExtensions = ['image/png', 'image/jpeg', 'image/jpg'];

          if (files && validExtensions.indexOf(files.type) === -1) {
            $('#registerd-from').trigger("reset");
            notyf.error({
              message: 'Only .png, .jpeg, .jpg format are accepted...',
              duration: 5000
            })
            return;
            
          }else if(files && files.size <= 5242880){
            outputIMG.prop('hidden', true);
            $('#image-preloader').removeClass('d-none');
            let reader = new FileReader();
            reader.readAsDataURL(files);
            reader.onload = (e)=>{
              let result = e.target.result;
              outputIMG.prop('src', result);
              $('#image-preloader').addClass('d-none');
              outputIMG.prop('hidden', false);
              $('#save-button').prop('disabled', false);
              $('#save-button').css('cursor', 'pointer');
            }
          }else{
            $('#registerd-from').trigger("reset");
            notyf.error({
              message: 'File size should be less then or equal 5MB...',
              duration: 5000
            })
            return;
          }
        })
      });

      //reset the modal
      $('#close_modal').click((e)=>{
        e.preventDefault();
          $('#choose-character').val('');
          $('#character-div').html('');
          $('#selsc-file-icon').prop('src', '/src/svg/file.svg');
          $('#save-button').prop('disabled', true);
          $('#save-button').css('cursor', 'no-drop');
          $('.all-character').css('border', '3px solid #f8f9fa');

          let characterInput = $('<input>').attr('type', 'text');
          characterInput.attr('name', 'choose_character');
          characterInput.attr('id', 'choose-character');
          characterInput.prop('hidden', true);
          $('#character-div').append(characterInput);
          return;
      })

      $('#skipe-button').click(function () {
          $('#choose-character').val('src/user1.jpg');
           $('#staticBackdrop').modal('hide');
           $('#registerd-from').submit();
           return;
      });

      $('#save-button').click(function () {
          $('#choose-character').val(selectedCharacter);
           $('#staticBackdrop').modal('hide');
           $('#registerd-from').submit();
           return;
      });
    });
    
    </script>
</body>
</html>