
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
 


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    height: -webkit-fill-available;
}

body{
    height: 100vh;
    height:  -webkit-fill-available;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #b8b9c3;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
}

      
.main{
    background: #53C58A;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.nav-button{
    outline: none;
    background-color: transparent;
    border: none;
}

.nav-button:hover{
   background-color: white;
}

.logout-btn{
    width: 90px;
    height: 40px;
    background: #F26E56;
    border-radius: 5px;
    border: 2px solid #000;
    outline: none;
    padding: 5px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
}

.logout-btn:hover{
    background-color: rgb(91, 91, 91);
}

.main .right-container{
    width: 100%;
    height: 82%;
    background-color: transparent;
    float: right;
    overflow: hidden;
    transition: .2s ease-in-out;
}

.main .right-container .home-images{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .right-container .home-images img{
    width: 70%;
}

.home-images p{
    font-size: 25px;
    font-weight: bold;
}

.main .right-container .container-first{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    padding-top: 10px;
}

.main .right-container .cintainer-main{
    height: 87%;
    width: 100%;
    background-color: transparent;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #3e4658;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }

}

.main .right-container .left-chat{
    background-color: #F4F2F2;
    margin: 20px 77px;
    min-height: 20%;
    padding: 0px 14px 14px;
    width: 41%;
    border-radius: 0px 20px 20px 20px;
    color: #3a4967;
}

.main .habburger-menu-controller{
    position: absolute;
    left: 25px;
}

#submitForms{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main .habburger-menu-controller button{
    font-size: 18px;
    border-radius: 30px;
    color: #D9D9D9;
    padding: 6px;
}

.main .habburger-menu-controller button i{
    display: flex;
}

.userAdd-notify{
    min-width: 50%;
    padding: 2px;
    background: #fff500;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #363636;
}

.main .right-container .left-chatbox{
    float: left;
    border: 2px solid #000;
    background: #F26E56;
    margin: 20px 10px;
    padding: 0px 12px 6px;
    border-radius: 0px 20px 20px 20px;
    color: #ffffff;
    overflow: hidden;
}

.left-chatbox h4{
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
}

.left-chatbox p{
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    padding-top: 3px;
}

.right-chatbox h4{
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
}

.right-chatbox p{
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    padding-top: 3px;
}

.main .right-container .right-chatbox{
    float: right;
    margin: 5px 7px;
    padding: 0px 12px 6px;
    border: 2px solid #000;
    background: #8a57ea;
    border-radius: 20px 0px 20px 20px;
    color: #000000;
    font-weight: 700;
    overflow: hidden;
}

.main .left-menu{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 100%;
    float: left;
    position: absolute;
    z-index: 100;
    top: 0;
    float: left;
    overflow: auto;
    border-radius: 0px 10px 10px 0px;
    background: #4F5F8D;
    transition: all 0.2s ease-in-out;
}

.main .left-menu .div1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
}

.main .left-menu .div1 .upper-controller{
    display: flex;
    width: 100%;
    height: 10%;
    position: sticky;
    background-color: transparent;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
}

.lower-controller{
    width: 100%;
    height: 10%;
    position: static;
    background-color: transparent;
    border-top: 2px solid black;
}

.lower-controller .main-user-profile img{
    width: 35px;
    max-height: 36px;
    border-radius: 30px;
}

.lower-controller .user-settings button{
    border: none;
    outline: none;
    background-color: transparent;
}

.user-settings{
    width: 30px;
    text-align: center;
    background-color: transparent;
    padding-top: 1px;
    border-radius: 30px;
}

.user-settings:hover{
    background-color: #36363673;
}

.main .left-menu .div1 .upper-controller i{
    font-size: 25px;
    margin-right: 30px;
    padding-top: 5px;
    color: #4f6da7;
}

.div-input{
    position: fixed;
    left: 0px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    background: transparent;
    bottom: 0;
}

.div-input .input-secton{
    display: flex;
    align-items: center;
    width: 95%;
    height: 60%;
    background: #D9D9D9;
    border-radius: 20px;
    gap: 10px;
    line-height: normal;
    border: 3px solid #000;
    
}

    .div-input input {  
    padding: 0;
    border: 0;
    outline: 0;
    width: 65%;
    background-color: #D9D9D9;
    position: relative;
    left: 5px;
    color: #000;
    font-weight: 700;
  }

  .div-input input::placeholder{
    color: #817f7f;
    font-weight: 900;
  }

  #submit{
    width: 12%;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
  }

.cintainer-main .div-input .input-secton button{
    margin-right: 10px;
    border-radius: 10px;
}

.cintainer-main .div-input .input-secton button i{
   display: flex;
 }

.cintainer-main .joined-messages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.cintainer-main .joined-messages h6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 1px;
    font-size: 13px;
    margin: 0px 5px;
}

.cintainer-main .left-div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cintainer-main .right-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#selcet-images{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
}
#selcet-images:hover{
  background-color: #4e4e4e;
}

.cintainer-main .images-right{
        display: flex;  
        justify-content: flex-end;
}

.cintainer-main .images-right .images-user{
    width: 50%;
    background-color: #8a57ea;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
    margin: 5px 7px;
    border: 2px solid black;
}

.cintainer-main .images-left{
    display: flex;
    justify-content: flex-start;
}

.cintainer-main .images-left .images-user2{
    width: 50%;
    background-color: #f26e56;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    margin: 5px 7px;
}

.cintainer-main .images-left .images-user2 h6{
    font-size: 11px;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: underline;
    font-style: italic;  
}

.cintainer-main .images-left .images-user2 p{
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    padding-top: 3px;
}

.cintainer-main img{
    width: -webkit-fill-available;
}

.cintainer-main .images-right .images-user h6{
    text-align: left;
    font-size: 11px;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: underline;
    font-style: italic;
}

.cintainer-main .images-right .images-user p{
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    padding-top: 3px;
}

.Allusers{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    gap: 5px;
    margin-bottom: 10px;
}

.Allusers .user1{
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        background: #D9D9D9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 10%;
        gap: 10px;
        padding-right: 10px;
        overflow: hidden;
        cursor: pointer;
}

.Allusers .user1 .images-profile{
    margin-left: 10px;
    display: flex;
}

.Allusers .user1 img{
    width: 40px;
    height: 40px;
    border-radius: 30px; 
}



.user-names h3{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
}

.user-names h4{
    color: #464646;
    font-size: 11px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    text-align: center;
}

.user-names{
    text-align: center;
}

#emoji-btn{
    position: relative;
    left: 13px;
    border: none;
    outline: none;
    background: transparent;
    padding: 2px;
}

#emoji-btn:hover{
    border-radius: 20px;
    background-color: #747474;
    fill: #000;
}


.div-input .emoji-container{
    position: absolute;
    bottom: 48px;
    border-radius: 17px;
    left: 10px;
    overflow-y: auto;
}

.emojis-search{
    margin: 13px 0px;
}

.emojis-search input{
    width: 88%;
    padding: 3px 11px;
    border-radius: 10px;
    border: 1px solid #a1a1a1
}

.all-emojis .emojis-list li{
    list-style: none;
}

#emojis-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 12px;
    gap: 5px;
}

.profile-ownername h2{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    line-height: 3;
}

.Allusers .user1:hover{
    background-color: #53c2c5;
}

.Allusers .active{
    background-color: #f296a6;
}

.main .active-user-name{
    width: 100vw;
    overflow: hidden;
    background-color: #4e4e4e;
    padding: 5px;
    border-bottom: 2px solid black;
}

.main .active-user-name h6{
    margin-bottom: 0;
    position: relative;
    left: 50px;
    color: #ffca27;
    font-weight: 800;
    letter-spacing: 1px;
}

#arrow-gif{
    width: 100%;
    position: relative;
    right: 145px;
}

.images-preview{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  
  #canvas-only{
    background: #53C58A;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  
  .cavas-footer{
    position: sticky;
      width: 100%;
      background: #e9ecef;
      display: flex;
      justify-content: space-around;
      padding: 0.75rem;
      align-items: center;
      border-top: 2px solid black;
  }

  .closed-preview{
    width: 90px;
    height: 43px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #F26E56;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .send-preview-images{
    width: 90px;
    height: 43px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #4F5F8D;;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .send-preview-images:hover{
    background-color: #2d384f;
  }

  .closed-preview:hover{
    background-color: #953726;
  }
  
  .images-preview-after{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }

  #canvas-after{
      background: #0000008c;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .images-preview-reciver{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }

  #canvas-0f-reciver{
      background: #53C58A;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .cavas-footer-reciver{
    position: sticky;
      width: 100%;
      background: #e9ecef;
      display: flex;
      justify-content: space-around;
      padding: 0.75rem;
      align-items: center;
      border-top: 2px solid black;
  }

  .button-download{
    width: 115px;
    height: 43px;
    border-radius: 10px;
    border: 2px solid #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4F5F8D;
  }

  .note-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .note-preview p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 800;
    color: #473753;
  }

  .reciver-name{
    position: absolute;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    left: 0;
    margin-left: 1rem;
    color: #f8f9fa;
    font-weight: 800;
    font-size: 18px;
    z-index: 201;
  }

